<div class="main bg-gradient-to-b from-gray-100 to-green-200 min-h-screen">
  <div
    class="h-auto bg-fixed md:h-[25rem]"
    style="
      background-image: url('https://img.freepik.com/premium-photo/open-laptop-blue-background-space-text_185193-85483.jpg');
      background-size: cover;
      opacity: 1;
      
    "
  >
    <h1
      class="text-4xl font-bold p-8 ml-0 text-white top-10 relative text-left md:text-5xl"
    >
      Online Coding Test Platform
    </h1>
    <h2
      class="text-3xl font-bold text-white mt-10  w-1/2 ml-10 lg:h-[15rem] text-left"
    >
      Assess your knowledge of contemporary programming languages and business
      software.
    </h2>
  </div>

  <div class="px-4 md:px-24 pb-8">
   
    <div>


      



    
     

      <div
        class="lg:flex lg:flex-row md:flex-col md:flex m-5 mt-[6rem] flex flex-col"
      >
        <img
          src="../../assets/coding_img8.jpg"
          alt=""
          class="lg:w-[60%] md:w-full md:h-60 h-48 border-1 border-gray-500 mr-4 rounded-md hover:scale-95 transition-transform duration-300 w-full"
        />
        <div
          class="w-full border-1 border-gray-500 hover:scale-95 transition-transform duration-300 rounded-md h-[15rem] p-4 overflow-scroll lg:overflow-auto md:overflow-auto md:ml-7 lg:ml-16"
        >
          <h1
            class="text-center text-2xl font-bold ml-0 mb-4 mt2 color"
          >
          Enhance Coding Interviews with Real-Time Collaboration
          </h1>
          <p class="text-lg ml-0 text-black">
            In interviews, use Programming-Pair's collaborative current time programming editor to assess candidates' coding talents, which includes combined audio and video connection.
          </p>
        </div>
      </div>
      <div
      class="lg:flex lg:flex-row md:flex-col-reverse md:flex m-5 flex flex-col-reverse"
    >
      <div
        class="w-full border-1 border-gray-500 hover:scale-95 transition-transform duration-300 rounded-md h-[auto] mt-20 p-4 overflow-auto lg:overflow-auto md:overflow-auto md:mr-7 lg:mr-16"
      >
        <h1
          class="text-center text-2xl font-bold ml-0 mb-4 color"
        >
        Efficient Applicant Evaluation
        </h1>
        <div class="text-lg ml-0 text-black">
          Use BTPL to successfully analyze and filter prospects in an everyday setting for growth. This modular solution allows for objective code evaluation through auto-scored activities along with test cases, providing tough screening for your selection.
        </div>
      </div>
      <img
        src="../../assets/coding_img5.avif"
        alt=""
        class="lg:w-[50%] md:w-full h-[15rem] border-1 border-gray-500 mr-4 rounded-md hover:scale-95 mt-10 transition-transform duration-300 w-full"
      />
    </div>

      <h1
      class="text-center text-4xl font-bold ml-0 my-10 color"
    >
      Evaluate Coding Proficiency 
    </h1>
      <div class="lg:flex lg:flex-row md:flex-row md:flex m-5 flex flex-col">
        <div
          class="flex justify-around w-full border-1 border-gray-500 rounded-md h-auto p-4 overflow-scroll lg:overflow-auto md:overflow-auto"
        >
          <div
            class="flex items-center justify-center flex-col hover:scale-95 transition-transform duration-300 border-2 bg-white shadow-green-500 shadow-sm w-[30%] h-[10rem]"
          >
            <img
              src="../../assets/industry.jpg"
              alt=""
              class="w-16 h-16 rounded-full"
            />
            <p class="text-center">
              Provide non-technical recruiters with the necessary resources to identify top IT candidates.
            </p>
          </div>
          <div
            class="flex items-center justify-center flex-col hover:scale-95 transition-transform duration-300 border-2 bg-white shadow-green-500 shadow-sm w-[30%] h-[10rem]"
          >
            <img
              src="../../assets/time01.jpg"
              class="w-10 h-10 mb-4 rounded-full"
              alt=""
            />
            <p class="text-center">Minimize your interview hassle.</p>
          </div>
          <div
            class="flex items-center justify-center flex-col hover:scale-95 transition-transform duration-300 border-2 w-[30%] h-[10rem] bg-white shadow-green-500 shadow-sm"
          >
            <img
              src="../../assets/internet.jpg"
              class="w-16 h-16 rounded-full"
              alt=""
            />
            <p class="text-center">
              Gain access to a worldwide source of advanced technological knowledge.
            </p>
          </div>
        </div>
      </div>

     

      <!-- <div
        class="lg:flex lg:flex-row md:flex-col md:flex m-5 flex flex-col my-20"
      >
        <img
          src="../../assets/coding_img10.avif"
          alt=""
          class="lg:w-[40%] md:w-auto h-auto border-1 border-gray-500 mr-4 rounded-md hover:scale-95 transition-transform duration-300 w-full"
        />
        <div
          class="w-full border-1 border-gray-500 hover:scale-95 transition-transform duration-300 rounded-md h-auto p-4 overflow-scroll lg:overflow-auto md:overflow-auto md:ml-7 lg:ml-16"
        >
          <h1
            class="text-center text-2xl font-bold ml-0 mb-4 mt2 color"
          >
            Relentless technology that makes enhanced automated proctoring
            possible
          </h1>
          <p class="text-lg ml-0 text-black">
            A skilled team with over 20 patents created Brancize Coding
            Assessments, which have a sophisticated mechanism for identifying
            and controlling cheating. This system uses artificial intelligence
            (AI) to detect dishonest acts automatically, such as impersonation
            identification, multiple person monitoring, plagiarism reports, and
            code submission replay. It uses artificial intelligence (AI) for
            real-time proctoring, sends out automated alerts and
            disqualifications, randomly selects questions, establishes question
            expiration dates, maintains browser security, and imposes
            comprehensive access limits based on time, IP, and browser settings
            in order to reduce cheating.
          </p>
        </div>
      </div> -->

      <div
        class="lg:flex lg:flex-row md:flex-col-reverse md:flex m-5 flex flex-col-reverse mt-16"
      >
        <div
          class="w-full border-1 border-gray-500 hover:scale-95 transition-transform duration-300 rounded-md h-[24rem] p-4 overflow-scroll lg:overflow-auto md:overflow-auto mt-2"
        >
          <h1
            class="text-center text-2xl font-bold ml-0 mb-4 mt-2 color"
          >
            Main elements of the online coding examination system.
          </h1>
          <div class="text-lg ml-0 text-black p-4">
            <div class="flex justify-between">
              <ul>

                <div class="flex items-center">
                 
                  <li class="px-7 py-2 text-lg">
                   1. Flexibility of different gadgets.
                  </li>
                </div>
                <div class="flex items-center">
                 
                  <li class="px-7 py-2 text-lg">
                    2. Proctored coding environment
                  </li>
                </div>
               
                <div class="flex items-center">
                 
                  <li class="px-7 py-2 text-lg">3. A live coding portal</li>
                </div>
                <div class="flex items-center">
                 
                  <li class="px-7 py-2 text-lg">4. Availability of different programminng languages</li>
                </div>
              </ul>
              <ul>
               
               
                
              </ul>
            </div>
          </div>
        </div>
        <img
          src="../../assets/coding_img4.avif"
          alt=""
          class="lg:w-[40%] md:w-auto h-[18rem] border-1 border-gray-500 mr-4 rounded-md hover:scale-95 transition-transform duration-300 w-full"
        />
      </div>

      <div
        class="lg:flex lg:flex-row md:flex-col md:flex m-5 flex flex-col mt-6"
      >
        <img
          src="../../assets/coding_img7.avif"
          alt=""
          class="lg:w-[40%] md:w-full h-auto border-1 border-gray-500 mr-4 rounded-md hover:scale-95 transition-transform duration-300 w-full"
        />
        <div
          class="w-full border-1 border-gray-500 hover:scale-95 transition-transform duration-300 rounded-md h-auto p-4 overflow-scroll lg:overflow-auto md:overflow-auto md:ml-7 lg:ml-16"
        >
          <h1
            class="text-center text-2xl font-bold ml-0 mb-4 mt2 color"
          >
            Get a Seamless and Premium Experience
          </h1>
          <p class="text-lg ml-0 text-black">
            With our feature-rich code editor and user-friendly UI, you can
            guarantee a better candidate experience. Our platform recovers from
            machine and internet failures without difficulty, therefore there's
            no need for retests. Candidates remain engaged throughout the
            process thanks to automated emails and SMS alerts. We also provide
            thorough email, chat, and phone support for candidates.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center bg-green-600 mt-8 py-4 w-full">
    <p class="text-white text-sm lg:text-base px-4 lg:px-8">
      At our company, we are dedicated to providing exceptional support and
      customer service. We prioritize data security and privacy, ensuring
      compliance with relevant regulations. Contact us today for a demo or to
      learn more about our solutions.
    </p>
  </div>
</div>
