<div class="relative main bg-gray-300 min-h-screen">
  <img
    src="assets/office.jpg"
    alt="Your Image Description"
    class="absolute top-0 left-0 w-full h-5/6 object-cover opacity-60"
  />
  <div
    class="absolute left-0 bg-black bg-opacity-60 text-white p-8 lg:p-16 w-full h-5/6 flex items-center justify-center"
  >
    <div class="text-center z-10">
      <h2 class="text-2xl lg:text-7xl font-bold">
        Unlock Your Business Potential
      </h2>
      <br />
      <h2 class="text-2xl lg:text-5xl font-medium">
        with Unparalleled Testing and Evaluation Solutions.
      </h2>
      <br />
      <p class="text-base lg:text-3xl pt-6 pb-6">
        Finest facilities for test and evaluation process anytime, anywhere.
      </p>
      <br />
      <a
        class="bg-green-400 rounded-3xl hover:bg-green-800 text-white font-medium py-2 px-4 inline-block"
        routerLink="/contact"
      >
        <h2 class="m-2">Contact Now</h2>
      </a>
    </div>
  </div>
</div>

<div class="main bg-gray-300">
  <div
    class="flex flex-col color lg:flex-row rounded-lg mx-4 lg:mx-48 py-8 mb-8"
  >
    <div class="w-full lg:w-1/2 flex justify-center lg:justify-center">
      <img
        src="assets/whatwedo.jpg"
        alt="Content Management"
        class="w-full lg:w-4/5 h-auto object-cover rounded-lg hover:scale-95 transition-transform duration-300"
      />
    </div>
    <div class="w-full lg:w-1/2 mb-12 lg:mb-0 flex flex-col justify-center">
      <h2
        class="font-medium text-2xl lg:text-4xl font-bold text-white text-center lg:text-left lg:pl-12 mb-4 lg:mb-6"
      >
        WHAT WE DO
      </h2>
      <h2
        class="text-xl lg:text-2xl font-light text-white text-center lg:text-left pl-4 lg:pl-12 pr-4 lg:pr-10"
      >
        Brancize
        Technology Pvt. Ltd. (BTPL) is determined to provide endwise Online and
        OMR based Offline assessment system across the nation with uniquely and
        secure developed assessment solutions, real-time monitoring and
        fast-paced report generation of the result.
      </h2>
    </div>
  </div>

  <div
    class="flex flex-col color lg:flex-row rounded-lg mx-4 lg:mx-48 py-8 mb-8"
  >
    <div class="w-full lg:w-1/2 flex justify-center lg:justify-center">
      <img
        src="assets/ourvision.jpg"
        alt="Content Management"
        class="w-full lg:w-4/5 h-auto object-cover rounded-lg hover:scale-95 transition-transform duration-300"
      />
    </div>
    <div class="w-full lg:w-1/2 mb-12 lg:mb-0 flex flex-col justify-center">
      <h2
        class="font-medium text-2xl lg:text-4xl font-bold text-white text-center lg:text-left lg:pl-12 mb-4 lg:mb-6"
      >
        OUR VISION
      </h2>

      <h2
        class="text-xl lg:text-2xl font-light text-white text-center lg:text-left pl-4 lg:pl-12 pr-4 lg:pr-10"
      >
        At
       Brancize
        Technology Pvt. Ltd. (BTPL), we aspire to be the leading assessment
        agency, catering to the needs of tests in India and worldwide. With a
        focus on integrity and innovation, we aim to deliver reliable, accurate,
        and fair assessments, fostering opportunities and success for
        educational institutions and individuals.
      </h2>
    </div>
  </div>

  <div
    class="flex flex-col color lg:flex-row rounded-lg mx-4 lg:mx-48 py-8 mb-8"
  >
    <div class="w-full lg:w-1/2 flex justify-center lg:justify-center">
      <img
        src="assets/ourmission.jpg"
        alt="Content Management"
        class="w-full lg:w-4/5 h-auto object-cover rounded-lg hover:scale-95 transition-transform duration-300"
      />
    </div>
    <div class="w-full lg:w-1/2 mb-12 lg:mb-0 flex flex-col justify-center">
      <h2
        class="font-medium text-2xl lg:text-4xl font-bold text-white text-center lg:text-left lg:pl-12 mb-4 lg:mb-6"
      >
        OUR MISSION
      </h2>

      <h2
        class="text-xl lg:text-2xl font-light text-white text-center lg:text-left pl-4 lg:pl-12 pr-4 lg:pr-10"
      >
        At Brancize
       
        Technology Pvt. Ltd. (BTPL), our aim is to work with enthusiasm and
        positive energy to deliver efficient, high-quality services. Our
        commitment to excellence creates good vibes, enhances our market value,
        and establishes a reputation for reliability and professionalism.
      </h2>
    </div>
  </div>

  <div class="flex flex-col lg:flex-row bg-gray-300"><br /><br /></div>
  <div class="text-center bg-green-600 mt-8 py-4">
    <p class="text-white text-sm lg:text-base px-4 lg:px-8">
      At our company, we are dedicated to providing exceptional support and
      customer service. We prioritize data security and privacy, ensuring
      compliance with relevant regulations. Contact us today for a demo or to
      learn more about our solutions.
    </p>
  </div>
</div>
