<div class="main bg-gradient-to-b from-gray-100 to-green-200 min-h-screen">
  <!-- background-image: url('https://envato-shoebox-0.imgix.net/4244/b90d-c97a-4778-a4b1-18d0f23b7b9e/Back+to+school+corona_39.jpg?auto=compress%2Cformat&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&w=1600&fit=max&markalign=center%2Cmiddle&markalpha=18&s=d6d41aa4e1551c30354af283f8a3a22d'); -->
  <div
    class="h-auto bg-fixed md:h-[25rem]"
    style="
      background-image: url('../../assets/osmheader.png');
      background-size: cover;
      opacity: 1;
    "
  >
    <h1
      class="text-5xl font-bold p-8  text-white top-10 relative ml-8 md:text-6xl"
    >
      On Screen Marking
    </h1>
    <h2
      class="text-3xl font-bold text-white mt-10  w-1/2 ml-8 lg:h-[15rem] text-center"
    >
    Streamlined Assessment, Simplified Grading
    </h2>
  </div>

  <div class="px-4 md:px-24 pb-8">
    <div>
      <div
        class="flex flex-col sm:flex sm:flex-col hover:scale-95 transition-transform duration-300 md:flex-col lg:flex lg:flex-row p-4 m-4 bg-green-200 rounded-lg mt-8"
      >
       
        <div class="flex flex-col justify-center p-4 md:p-8">
          <h2
            class="text-3xl font-bold color mb-4 text-center md:text-left"
          >
            On Screen Marking (OSM)
          </h2>
          <p class="text-green-700 text-lg text-center md:text-left">
          Embrace the
            future with Brancize Technology Private Limited, your partner in sophisticated examination
            management. Our revolutionary On Screen Marking Solution (OSMS)
            improves evaluation efficiency, precision, and security. BTPL, a pioneer in examination excellence.
           BTPL is committed to improving the
            assessment experience for academic entities, professional
            organizations, and government authorities. Our experienced
            specialists understand the complex aspects of exam evaluation. Our
            OSMS streamlines the grading process and prepares for a more
            advanced evaluation paradigm.
          </p>
        </div>
        <img
        src="../../assets/osm1.jpg"
        alt="Computer"
        class="w-full h-auto object-cover rounded-t-lg md:rounded-l-lg md:rounded-t-none md:w-full md:h-[20rem] lg:w-[20rem]"
      />
      </div>

      <div class="flex m-5">
        <div class="w-full transition-transform duration-300 mt-7">
          <h1
            class="text-center text-3xl font-bold ml-0 mb-4 mt-2 color"
          >
          Why OSM is beneficial?
          </h1>
          <div class="text-2xl ml-0 text-black">
            <div>
              <span class="font-semibold ml-0"
                >Precision in Assessment
              </span>

              <div class="px-7 py-2 text-lg">
                OSMS improves evaluation accuracy by providing markers with
                intuitive interfaces. This development eliminates
                inconsistencies and promotes trustworthy outcomes through
                cautious score allocation.
              </div>
            </div>
            <div class="mt-2">
              <h1 class="font-semibold ml-0">Streamlined Grading</h1>

              <div class="px-7 py-2 text-lg">
                 Gone are the days of laborious paper appraisals. OSMS uses a
                digital marking paradigm to improve productivity and reduce
                grading time. It has automated sorting, advanced search
                features, and quick progress tracking.
              </div>
            </div>
            <div class="mt-2">
              <h1 class="font-semibold ml-0">Strengthened safety</h1>

              <div class="px-7 py-2 text-lg">
                The integrity of exam materials is crucial. OSMS enhances
                security by implementing encrypted communications and access
                controls to safeguard critical information.
              </div>
            </div>
            <div class="mt-2">
              <h1 class="font-semibold ml-0">Enhanced Teamwork</h1>

              <div class="px-7 py-2 text-lg">
                OSMS removes geographical constraints, allowing markers to
                communicate seamlessly. Supervisors may oversee marking
                workflows in real-time, creating a uniform and open marking
                ecosystem.
              </div>
            </div>
            <div class="mt-2">
              <h1 class="font-semibold ml-0">Unparalleled Clarity</h1>

              <div class="px-7 py-2 text-lg">
                BTPL's OSMS ensures a transparent
                trail of evaluation results. It enhances the transparency and
                accountability of the grading process by allowing for extensive
                evaluation of evaluative judgments.
              </div>
            </div>
            <div class="mt-2">
              <h1 class="font-semibold ml-0">
                Collection of Answer Sheets
              </h1>

              <div class="px-7 py-2 text-lg">
                After the allotted time, students submit their answer sheets.
                These are collected and safely held until the evaluation stage.
              </div>
            </div>
            <div class="mt-2">
              <h1 class="font-semibold ml-0">Evaluation</h1>

              <div class="px-7 py-2 text-lg">
                After the exam, the answer sheets are graded and published after
                a set duration.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="flex m-5">
        <div class="w-full transition-transform duration-300">
          <h1
            class="text-center text-3xl font-bold mt-2 color"
          >
            Working Principle of OSMS
          </h1>
          <div class="text-lg px-5 py-5 ml-0 text-black">
           
            
          
            
            
            Candidates can effortlessly upload their exam scripts onto our secure digital platform, ensuring they are safely archived. Our system assigns scripts to markers based on their expertise and schedule. Markers utilize advanced digital tools to grade, annotate, and provide detailed feedback on their preferred devices. Quality supervisors oversee the evaluation process to ensure consistency and accuracy, with the authority to refine marks when necessary. Results are efficiently aggregated by our Online Script Management System (OSMS) for secure distribution to stakeholders. Our software provides comprehensive evaluation metrics, enabling continuous improvement in assessment methodologies.
          </div>
        </div>
      </div>
<!-- 
      <div
        class="lg:flex lg:flex-row md:flex-col md:flex m-5 sm:flex sm:flex-col"
      >
        <img
          src="../../assets/osm2.jpg"
          alt=""
          class="lg:w-[40%] md:w-full h-96 border-1 border-gray-500 mr-4 rounded-md hover:scale-95 transition-transform duration-300 w-full mt-7"
        />
        <div
          class="w-full border-1 border-gray-500 hover:scale-95 transition-transform duration-300 rounded-md h-auto p-4 overflow-scroll lg:overflow-auto md:overflow-auto"
        >
          <h1
            class="text-center text-2xl font-bold ml-0 mb-4 text-green-500"
          >
            Certification Exams Have Gone Digital
          </h1>
          <div class="text-lg ml-0 text-black">
            <ul>
              <li class="px-7 py-2 text-lg">
                1. OSM is accessible only to authorized Subject Matter Experts
                (SMEs) and Centralized Evaluation Offices (COEs), offering
                utmost security.
              </li>
              <li class="px-7 py-2 text-lg">
                2. Whether you're using a laptop, mobile, or tablet, OSM is at
                your fingertips. OSM supports iOS, Android, and Windows,
                ensuring a hassle-free evaluation experience
              </li>
              <li class="px-7 py-2 text-lg">
                3. Multiple evaluators can simultaneously assess an answer
                script, expediting the process without compromising quality.  
              </li>
              <li class="px-7 py-2 text-lg">
                4. OSM enables evaluators to provide remarks and feedback for
                each answer, enhancing the clarity of the grading process.
              </li>
              <li class="px-7 py-2 text-lg">
                5.OSM streamlines the re-evaluation process, making it faster
                and more accurate. 
              </li>
            </ul>
          </div>
        </div>
      </div> -->

      <div
        class="lg:flex lg:flex-row md:flex-col-reverse md:flex m-5 flex flex-col-reverse"
      >
        <div
          class="w-full border-1 border-gray-500 hover:scale-95 mt-10 transition-transform duration-300 rounded-md h-auto p-4 overflow-scroll lg:overflow-auto md:overflow-auto  "
        >
          <h1
            class="text-center text-3xl font-bold ml-0 mb-4 mt-7 color mb-6"
          >
            Revolutionizing Exam Grading: Brancize's On-Screen Marking Solution
          </h1>
          <div class="text-lg ml-0 text-black">
            <div class="mt-2">
              <h1 class="font-semibold ml-0">
                Modernizing Tradition
              </h1>

              <div class="px-7 py-2 text-lg">
                Embracing digital advancements in examination management.
              </div>
            </div>
            <div class="mt-2">
              <h1 class="font-semibold ml-0">
                Enhanced Evaluation
              </h1>

              <div class="px-7 py-2 text-lg">
                OSMS improves grading efficiency, accuracy, and security.
              </div>
            </div>
            <div class="mt-2">
              <h1 class="font-semibold ml-0">
                Expertise and Knowledge
              </h1>

              <div class="px-7 py-2 text-lg">
                Experienced staff ensure thorough understanding of grading procedures.
              </div>
            </div>
            
          </div>
        </div>
        <img
          src="../../assets/osm4.jpg"
          alt=""
          class="lg:w-[40%] md:w-full md:mt-10 h-96 border-1 border-gray-500 mr-4 rounded-md hover:scale-95 transition-transform duration-300 w-full"
        />
      </div>
    </div>
  </div>
  <div class="text-center bg-green-600 mt-8 py-4 w-full">
    <p class="text-white text-sm lg:text-base px-4 lg:px-8">
      At our company, we are dedicated to providing exceptional support and
      customer service. We prioritize data security and privacy, ensuring
      compliance with relevant regulations. Contact us today for a demo or to
      learn more about our solutions.
    </p>
  </div>
</div>
