<div class="main bg-gradient-to-b from-gray-100 to-green-200 min-h-screen">
  <div
    class="h-[30rem] bg-fixed md:h-[25rem]"
    style="
      background-image: url('../../assets/iris-header.jpg');
      background-size: cover;
      opacity: 1;
    "
  >
    <h1
      class="text-4xl font-bold p-8 ml-0 text-white top-10 relative text-left md:text-5xl"
    >
      IRIS Biometrics
    </h1>
    <h2
      class="text-3xl font-bold text-white mt-10  w-1/2 ml-10 lg:h-[15rem] text-left"
    >
    Unlocking Security with a Glance
    </h2>
  </div>

  <div class="px-4 md:px-24 pb-8">
    <div>
      <div
        class="lg:flex lg:flex-row md:flex-col-reverse md:flex m-5 flex flex-col-reverse my-20"
      >
        <div class="flex flex-col md:p-5 md:mr-7 lg:mr-16">
          <div
            class="w-full border-1 border-gray-500 rounded-md p-4 overflow-scroll lg:overflow-auto md:overflow-auto"
          >
            <h1
              class="text-left md:text-center lg:text-center text-2xl font-bold ml-0 mb-4 mt-5 color"
            >
            Security with BTPL's Iris Biometrics
            </h1>
            <p class="text-lg w-full ml-0 text-black">
              BTPL introduces advanced iris biometric technology, elevating security measures to new heights. This innovative solution safeguards your vital assets and data with unparalleled precision and reliability. Unlike fingerprints, iris patterns are intricate and virtually impossible to replicate, ensuring robust identity verification. <br> Discover how BTPL's Iris Biometrics enhances your security strategy with state-of-the-art technology and expertise.
            </p>
          </div>
       
        </div>
        <img
          src="../../assets/iris1.jpg"
          alt=""
          class="lg:w-[30%] md:w-full h-auto border-1 border-gray-500 mr-4 rounded-md hover:scale-95 transition-transform duration-300 w-full"
        />
      </div>

      <div class="lg:flex lg:flex-row md:flex-col md:flex m-5 flex flex-col">
        <img
          src="../../assets/iris2.png"
          alt=""
          class="lg:w-[30%] md:w-full h-auto border-1 border-gray-500 mr-4 rounded-md hover:scale-95 transition-transform duration-300 w-full"
        />
        <div class="flex flex-col md:ml-7 lg:ml-16">
          <div
            class="w-full border-1 border-gray-500 rounded-md p-4 overflow-scroll lg:overflow-auto md:overflow-auto"
          >
            <h1
              class="text-left md:text-center lg:text-center text-2xl font-bold ml-0 mb-4 mt-5 color"
            >
            Reliable Security with BTPL's Iris Biometrics
            </h1>
            <p class="text-lg ml-0 text-black">
              BTPL prioritizes security not only to prevent unauthorized access but also to facilitate seamless entry for authorized personnel into designated areas. Our advanced Iris Biometric technology guarantees that only authorized individuals can access critical sites.

              Our iris biometric technology excels in both security and precision. By capturing intricate iris patterns, it generates distinct signatures for each user. This method detects minute differences in irises, leveraging their uniqueness for reliable identification. Our commitment to precision ensures robust security measures, providing you with peace of mind knowing your facilities are safeguarded effectively.
            </p>
          </div>
         
        </div>
      </div>

      <div
        class="lg:flex lg:flex-row md:flex-col-reverse md:flex m-5 flex flex-col-reverse mt-20"
      >
        <div class="flex flex-col md:mr-7 lg:mr-16">
          <div
            class="w-full border-1 border-gray-500 rounded-md p-4 overflow-scroll lg:overflow-auto md:overflow-auto"
          >
            <h1
              class="text-left md:text-center lg:text-center text-2xl font-bold ml-0 mb-4 mt-5 color"
            >
            Enhancing Privacy with BTPL's Iris Biometrics
            </h1>
            <p class="text-lg ml-0 text-black">
              In today's lively, ever-changing world, standard security measures
              may fall short. Our Iris Biometric technology can boost your
              security architecture in ways that were previously considered
              science fiction. The ability to instantaneously detect and
              authenticate persons based on their irises ensures that you are
              ahead of any potential security issues.
            </p>
          </div>
          <div
            class="w-full border-1 border-gray-500 rounded-md p-4 overflow-scroll lg:overflow-auto md:overflow-auto"
          >
            <h1
              class="text-left md:text-center lg:text-center text-2xl font-bold ml-0 mb-4 mt-5 color"
            >
            Future-Proof Security in the Digital Age
            </h1>
            <p class="text-lg ml-0 text-black">
              In an era fraught with privacy breaches and identity theft, a reliable and forward-thinking security solution is indispensable. BTPL's Iris Biometric technology offers precisely that assurance. This state-of-the-art technology seamlessly adjusts to evolving security challenges, guaranteeing the longevity and effectiveness of your investments in safeguarding sensitive information.






            </p>
          </div>
        </div>
        <img
          src="../../assets/iris3.jpg"
          alt=""
          class="lg:w-[30%] md:w-full h-auto border-1 border-gray-500 mr-4 rounded-md hover:scale-95 transition-transform duration-300 w-full"
        />
      </div>

      <div
        class="lg:flex lg:flex-row md:flex-col md:flex m-5 flex flex-col my-20"
      >
        <img
          src="../../assets/iris4.jpg"
          alt=""
          class="lg:w-[30%] md:w-full h-auto border-1 border-gray-500 mr-4 rounded-md hover:scale-95 transition-transform duration-300 w-full"
        />

        <div class="flex flex-col md:ml-7 lg:ml-16">
          <div
            class="w-full border-1 border-gray-500 rounded-md p-4 overflow-scroll lg:overflow-auto md:overflow-auto"
          >
            <h1
              class="text-left md:text-center lg:text-center text-2xl font-bold ml-0 mb-4 mt-5 color"
            >
            Effortless Harmony: BTPL Redefines Security with Integrated Iris Biometrics
            </h1>
            <div class="text-lg ml-0 text-black">
              <div>
                <h3 class="font-semibold ml-0 mt-4  text-2xl">Effortless Integration</h3>
                <div class="text-lg pl-8 pt-3"> 
                  BTPL simplifies technology adoption with our Iris Biometric system, seamlessly integrating into existing security setups.
                </div>
              </div> 
               <div>
                <h3 class="font-semibold ml-0 mt-4 text-2xl">Efficient Time Monitoring</h3>
                <div class="text-lg pl-8 pt-3">
                  The system offers accurate time tracking for enhanced operational efficiency.
                </div>
              </div>
               <div>
                <h3 class="font-semibold ml-0 mt-4 text-2xl">Enhanced Access Control</h3>
                <div class="text-lg pl-8 pt-3">
                  Iris Biometric technology improves access management through precise identification.
                </div>
              </div>
              
            </div>
          </div>
          
        </div>
      </div>

      <div
        class="lg:flex lg:flex-row md:flex-col-reverse md:flex m-5 flex flex-col-reverse"
      >
        <div class="flex flex-col md:mr-7 lg:mr-16">
          <div
            class="w-full border-1 border-gray-500 rounded-md p-4 overflow-scroll lg:overflow-auto md:overflow-auto"
          >
            <h1
              class="md:text-center lg:text-center text-left text-2xl font-bold ml-0 mb-4 mt-5 color"
            >
            Why Choose BTPL: Redefining Security with BTPL's IRIS Biometric Technology
            </h1>
            <p class="text-lg ml-0 text-black">
              Brancize Technology Private Limited transcends traditional security firms by being your dedicated partner in achieving unparalleled security standards. Renowned for our precision, reliability, and innovative solutions, BTPL offers more than just products—we deliver peace of mind.

              Our IRIS Biometric technology sets new benchmarks in privacy and security, ensuring impeccable accuracy and robust protection. With our state-of-the-art advancements, you can fortify your security infrastructure, restrict access to authorized personnel only, and stay ahead in today's dynamic security landscape. Embrace the future of security with BTPL and experience firsthand the difference in safeguarding your assets and data.
            </p>
          </div>
         
        </div>
        <img
          src="../../assets/iris5.jpg"
          alt=""
          class="lg:w-[30%] md:w-full h-auto border-1 border-gray-500 mr-4 rounded-md hover:scale-95 transition-transform duration-300 w-full"
        />
      </div>
    </div>
  </div>
  <div class="text-center bg-green-600 mt-8 py-4 w-full">
    <p class="text-white text-sm lg:text-base px-4 lg:px-8">
      At our company, we are dedicated to providing exceptional support and
      customer service. We prioritize data security and privacy, ensuring
      compliance with relevant regulations. Contact us today for a demo or to
      learn more about our solutions.
    </p>
  </div>
</div>
