<div class="main bg-gradient-to-b from-gray-100 to-green-200 min-h-screen">
  <div
    class="h-[30rem] bg-fixed md:h-[25rem]"
    style="
      background-image: url('../../assets/venueheader.jpg');
      background-size: cover;
      opacity: 1;
    "
  >
    <h1
      class="text-4xl font-bold p-8 ml-0 text-white top-10 relative w-[70%] md:text-5xl"
    >
      VENUE MANAGEMENT SYSTEM
    </h1>
    <h2
      class="text-3xl font-bold text-white mt-10  w-1/2 ml-10 lg:h-[15rem] text-left"
    >
    Effortless Event Coordination, Perfect Venue Management
    </h2>
  </div>

  <div class="px-4 md:px-24 pb-8">
    <div>
      <div
        class="flex flex-col sm:flex sm:flex-col md:flex-col lg:flex lg:flex-row rounded-lg"
      >
        <div class="flex flex-col justify-center md:p-8">
          <h2 class="text-3xl font-bold color mb-4 text-left">
            VENUE MANAGEMENT SYSTEM
          </h2>
          <p class="text-black text-lg text-center md:text-left">
            Brancize's comprehensive solution simplifies exam venue booking. Our
            Venue Management System (VMS) is a game-changing tool for booking
            exam venues across india.
          </p>
        </div>
      </div>

      <div class="flex m-5">
        <div class="w-full transition-transform duration-300">
          <h1 class="text-3xl font-bold ml-0 mb-4 mt-2 color">
            Function of Venue Management System
          </h1>
          <div class="text-2xl ml-0 text-black">
            <div>
              <span class="font-semibold ml-0">Scheduling a venue </span>

              <div class="px-7 py-2 text-lg">
                The website offers a simple booking process with flexible forms,
                assuring a smooth experience and adherence to exam requirements.
              </div>
            </div>
            <div class="mt-2">
              <h1 class="font-semibold ml-0">Facility Inspection</h1>

              <div class="px-7 py-2 text-lg">
                Brancize's evaluates exam venues to ensure they fulfill specific
                requirements and are adequately equipped.
              </div>
            </div>
            <div class="mt-2">
              <h1 class="font-semibold ml-0">Live Data Collection</h1>

              <div class="px-7 py-2 text-lg">
                VMS uses mobile technologies to collect real-time data from exam
                locations and provide administrators with immediate insights.
              </div>
            </div>
            <div class="mt-2">
              <h1 class="font-semibold ml-0">Economic Management</h1>

              <div class="px-7 py-2 text-lg">
                OSMS removes geographical constraints, allowing markers to
                communicate seamlessly. Supervisors can oversee marking
                procedures in real-time, creating a uniform and open
                environment.
              </div>
            </div>
            <div class="mt-2">
              <h1 class="font-semibold ml-0">Exceptional Clarity</h1>

              <div class="px-7 py-2 text-lg">
                The technology improves financial processes, optimizes payments,
                and ensures correct records for venue-related transactions.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="lg:flex lg:flex-row md:flex-col-reverse md:flex m-5 flex flex-col-reverse my-16"
    >
      <div class="w-full border-1 border-gray-500 rounded-md h-[24rem] p-4">
        <h1 class="text-3xl font-bold ml-0 mb-4 mt2 color">
          Venues' Orientation Method
        </h1>
        <p class="text-xl font-semibold">
          The method of integrating venues is well-organized and includes
          numerous steps:
        </p>
        <div class="text-lg ml-0 text-black p-4">
          <div class="flex flex-col-reverse">
            <ul>
              <li class="px-7 py-2 text-lg">
                Orientation at the Final Venue
              </li>
              <li class="px-7 py-2 text-lg">
                Create a  login ID.  
              </li>
              <li class="px-7 py-2 text-lg">Group on the spot evaluation</li>
             
            </ul>
            <ul>

              <li class="px-7 py-2 text-lg">
                Testing for professional auditors
              </li>
             
            </ul>
          </div>
        </div>
      </div>
      <img
        src="../../assets/venue3.jpg"
        alt=""
        class="lg:w-[40%] md:w-full h-96 border-1 border-gray-500 mr-4 rounded-md hover:scale-95 transition-transform duration-300 w-full"
      />
    </div>

    <div class="lg:flex lg:flex-row md:flex-col md:flex m-5 flex flex-col">
      <img
        src="../../assets/venue1.avif"
        alt=""
        class="lg:w-[40%] md:w-full h-96 border-1 border-gray-500 mr-20 rounded-md hover:scale-95 transition-transform duration-300 w-full mt-[10%]"
      />

      <div class="w-full transition-transform duration-300 ml-20">
        <h1 class="text-3xl font-bold  mb-4  mt-2 color">
          Essential component of the Venue Management System.
        </h1>
        <div class="text-2xl ml-0 text-black">
          <!-- <div class="">
            <span class="font-semibold ml-0">Flexible forms: </span>

            <div class="px-7 py-2 text-lg">
              Build and customize forms to meet your collection of information
              needs, improving management.
            </div>
          </div> -->
          <!-- <div class="mt-2">
            <h1 class="font-semibold ml-0">Relevant research:</h1>

            <div class="px-7 py-2 text-lg">
              Improve the booking procedure by efficiently generating
              information and responding to queries.
            </div>
          </div> -->
          <div class="mt-2 r">
            <h1 class="font-semibold ml-0">Comprehensive safety</h1>

            <div class="px-7 py-2 text-lg">
              VMS uses the SSL protocol to secure your data and ensure its
              privacy.
            </div>
          </div>
          <div class="mt-2">
            <h1 class="font-semibold ml-0">Friendly Support</h1>

            <div class="px-7 py-2 text-lg">
              Our focused team responds quickly to any requests or difficulties.
            </div>
          </div>

          <div class="mt-2">
            <h1 class="font-semibold ml-0">Strong flexibility</h1>

            <div class="px-7 py-2 text-lg">
              VMS was developed for high user usage, which makes it excellent
              for managing large numbers of exam bookings.
            </div>
          </div>
          <!-- <div class="mt-2">
            <h1 class="font-semibold ml-0">Actual Analysis:</h1>

            <div class="px-7 py-2 text-lg">
              Real-time monitoring of exam initiatives allows for better
              oversight and making decisions.
            </div>
          </div> -->
          <div class="mt-2">
            <h1 class="font-semibold ml-0">Industry-Specific Design</h1>

            <div class="px-7 py-2 text-lg">
              Our Venue Managament System provides a flexible operational
              strategy to meet the needs of a wide range of industries.
            </div>
          </div>
          <div class="mt-2">
            <h1 class="font-semibold ml-0">Time-Saving Automation</h1>

            <div class="px-7 py-2 text-lg">
              Simplify venue booking, offering more time for other exam-related
              responsibilities.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="flex flex-col sm:flex sm:flex-col md:flex-col lg:flex lg:flex-row rounded-lg"
    >
      <div class="flex flex-col justify-center md:p-8">
        <h2 class="text-3xl font-bold color mb-4 md:text-left">
          Venues In India
        </h2>
        <p class="text-black text-lg text-center md:text-left">
          Brancize Technology Private Limited maintains national venues. The
          platform delivers actual time data and performs architecture and
          service accessibility checks. It operates locations across the country
          and has an impressive representation throughout India.
        </p>
      </div>
    </div>
  </div>
  <div class="text-center bg-green-600 mt-8 py-4 w-full">
    <p class="text-white text-sm lg:text-base px-4 lg:px-8">
      At our company, we are dedicated to providing exceptional support and
      customer service. We prioritize data security and privacy, ensuring
      compliance with relevant regulations. Contact us today for a demo or to
      learn more about our solutions.
    </p>
  </div>
</div>
