<div class="main bg-gradient-to-b from-gray-100 to-green-200 min-h-screen">
  <div
    class="h-auto bg-fixed md:h-[25rem]"
    style="
      background-image: url('../../assets/thumbheader.jpg');
      background-size: cover;
      opacity: 1;
    "
  >
    <h1
      class="text-4xl font-bold p-8 ml-0 text-white top-10 relative text-left md:text-5xl"
    >
      Thumb-based Biometric
    </h1>
    <h2
      class="text-3xl font-bold text-white mt-10  w-1/2 ml-10 lg:h-[15rem] text-left"
    >
      User identification at your fingertips.
    </h2>
  </div>

  <div class="px-4 md:px-24 pb-8">
    <div>


      <!-- <div
        class="lg:flex lg:flex-row md:flex-col md:flex m-5 flex flex-col mt-20 mb-16"
      >
        <img
          src="../../assets/thumb1.jpg"
          alt=""
          class="lg:w-[40%] md:w-auto h-96 border-1 border-gray-500 mr-4 rounded-md hover:scale-95 transition-transform duration-300 w-full mix-blend-multiply"
        />

        <div
          class="w-full border-1 border-gray-500 hover:scale-95 transition-transform duration-300 rounded-md h-[24rem] p-4 overflow-scroll lg:overflow-auto md:overflow-auto md:ml-7 lg:ml-16"
        >
          <h1
            class="text-center text-2xl font-bold ml-0 mb-4 mt-5 text-green-500"
          >
            Thumb-based biometric technology transforms control of entrances.
          </h1>
          <p class="text-lg ml-0 text-black">
            Brancize stands at the forefront of biometric innovation,
            transforming access control with our thumb-based biometric
            technology. This solution places personal identity verification at
            your fingertips, ensuring a smooth and fortified authentication
            experience. In an era where the balance of security and ease is
            crucial, our biometric technology opens doors to a myriad of
            opportunities across diverse sectors and uses.
          </p>
        </div>
      </div> -->
 <div class="flex justify-around my-10">
  <div
  class="w-[40%] rounded overflow-hidden shadow-lg m-4 bg-white hover:scale-105 transition-transform duration-300"
>
  <img
    src="../../assets/thumb1.jpg"
    alt="Assessment Management"
    class="h-[250px] w-full"
  />
  <br />
  <div class="px-6 py-4 mt-4">
    <h2 class="text-2xl font-bold color text-center mb-2">
     About Thumb-Based Biometrics
    </h2>
    <p class="text-gray-800 text-lg px-2 py-3 ">
      Thumb-based biometrics uses unique thumbprint patterns for identity verification. It's widely used for unlocking devices, accessing secure areas, and authenticating transactions, offering high accuracy and security. This technology ensures only authorized users gain access to sensitive information or locations.
    </p>
  </div>
</div>

  <div
  class="w-[40%] rounded overflow-hidden shadow-lg m-4 bg-white hover:scale-105 transition-transform duration-300"
>
  <img
    src="../../assets/thumb2.webp"
    alt="Assessment Management"
    class="h-[250px] w-full"
  />
  <br />
  <div class="px-6 py-4 mt-4">
    <h2 class="text-2xl font-bold text-center color mb-2">
      Thumbprint Biometrics Revolutionized!
    </h2>
    <p class="text-gray-800 text-lg px-2 py-3 ">
      Discover BTPL's cutting-edge thumb-based biometric system, leveraging your unique thumbprint as the ultimate key to secure access. Our technology harnesses the unparalleled security of your biological signature for swift, fortified authentication.
    </p>
  </div>
</div>

 </div>

     
      <!-- <div
        class="lg:flex lg:flex-row md:flex-col-reverse md:flex m-5 flex flex-col-reverse mb-16"
      >
        <div class="flex flex-col lg:mr-16">
          <div
            class="w-full border-1 border-gray-500 rounded-md p-4 overflow-scroll lg:overflow-auto md:overflow-auto"
          >
            <h1
              class="text-center text-2xl font-bold ml-0 mb-4 mt-5 text-green-500"
            >
              Fundamentals of Thumb-Based Biometric Technology
            </h1>
            <p class="text-lg ml-0 text-black">
              At Brancize, we have created a revolutionary and discrete
              thumb-based biometric system that uses your thumbprint as a unique
              key to allow access to secure locations. Your thumbprint is a
              biological signature that is unique to you and extremely
              impossible to recreate. We developed a technique that uses this
              intrinsic aspect of your identity to speed authentication while
              reinforcing security safeguards.
            </p>
          </div>
          <div
            class="w-full border-1 border-gray-500 rounded-md p-4 overflow-scroll lg:overflow-auto md:overflow-auto"
          >
            <h1
              class="text-center text-2xl font-bold ml-0 mb-4 mt-5 text-green-500"
            >
              Fast and reliable verification of identity
            </h1>
            <p class="text-lg ml-0 text-black">
              Brancize's thumb-based biometric system delivers rapid and
              accurate identity checks, streamlining access control for
              authorized personnel. In our fast-moving society, efficiency is
              key, and lengthy authentication methods are obsolete. Our
              technology provides immediate identity verification, suitable for
              various applications, ensuring a swift and secure entry process.
            </p>
          </div>
        </div>
        <img
          src="../../assets/thumb2.webp"
          alt=""
          class="lg:w-[30rem] md:w-auto md:h-[35rem] h-auto border-1 border-gray-500 mr-4 rounded-md hover:scale-95 transition-transform duration-300 w-full"
        />
      </div> -->

      <div
        class="lg:flex lg:flex-row md:flex-col md:flex m-5 my-10 sm:flex sm:flex-col"
      >
        <img
          src="../../assets/thumb3.jpg"
          alt=""
          class="lg:w-[40%] md:w-auto h-[20rem ]  border-1 border-gray-500 mr-4 rounded-md hover:scale-95 transition-transform duration-300 w-full"
        />

        <div
          class="w-full border-1 border-gray-500 hover:scale-95 transition-transform duration-300 rounded-md h-[24rem] p-4 overflow-scroll lg:overflow-auto md:overflow-auto lg:ml-16 mt-16"
        >
          <h1
            class="text-center text-2xl color font-bold ml-0 mb-4 text-green-500"
          >
          Unlocking the Future: The Power of Thumb-Based Biometric Solutions
          </h1>
          <p class="text-lg ml-0 text-black">
            Elevate Security with a Touch: BTPL’s Thumbprint Revolution
 is revolutionizing the way we think about security with its cutting-edge thumb-based biometric technology. By making personal identity verification as simple as a touch, we provide a seamless yet secure authentication process. In today’s world, where convenience must meet stringent security standards, Brancize’s biometric solutions pave the way for endless possibilities in a variety of industries and applications.
          </p>
        </div>
      </div>

      <div
        class="lg:flex lg:flex-row md:flex-col-reverse md:flex m-5 flex flex-col-reverse"
      >
        <div class="flex flex-col md:mr-7 lg:mr-16">
          <div
            class="w-full border-1 border-gray-500 rounded-md p-4 mt-16 overflow-scroll lg:overflow-auto md:overflow-auto"
          >
            <h1
              class="text-center text-2xl color font-bold ml-0 mb-4 mt-5 text-green-500"
            >
            Simplified Security: BTPL’s Thumbprint Innovation
            </h1>
            <p class="text-lg ml-0 text-black">
              
Seamless Protection, Simplified Access: 
BTPL redefines security with its thumb-based biometric system, blending unyielding protection with user-friendly access. Our technology strips away complexity, offering a serene authentication journey that’s both impenetrable and intuitive. As pioneers in biometric innovation, we secure your most valuable assets with a simple touch. Embrace the new age of safeguarding with Brancize—where your identity is not just protected but also placed conveniently at your fingertips.
            </p>
          </div>
         
        </div>
        <img
          src="../../assets/thumb4.jpg"
          alt=""
          class="lg:w-[50%] md:w-auto md:h-[30rem] h-auto border-1 border-gray-500 mr-4 rounded-md hover:scale-95 transition-transform duration-300 w-full"
        />
      </div>
    </div>
  </div>
  <div class="text-center bg-green-600 mt-8 py-4 w-full">
    <p class="text-white text-sm lg:text-base px-4 lg:px-8">
      At our company, we are dedicated to providing exceptional support and
      customer service. We prioritize data security and privacy, ensuring
      compliance with relevant regulations. Contact us today for a demo or to
      learn more about our solutions.
    </p>
  </div>
</div>
