<div class="relative main bg-gray-300 min-w-fit">
  <div class="flex flex-col lg:flex-row">
    <div
      class="w-full lg:w-1/2 flex items-center justify-center hover:scale-95 rounded-lg transition-transform duration-300"
    >
      <div class="flex items-center justify-center rounded-lg">
        <img
          src="assets/aboutusai.jpg"
          alt="Your Image Description"
          class="max-w-full h-auto"
        />
      </div>
    </div>
    <div class="w-full lg:w-1/2 lg:m-8 lg:mx-24 pt-4 flex justify-center">
      <div
        class="color text-center p-4 lg:p-8 rounded-lg hover:scale-105 transition-transform duration-300"
      >
        <h2 class="font-medium text-5xl lg:text-4xl text-white pt-2 pb-6">
          About Us:
        </h2>
        <p class="font-light text-base lg:text-2xl text-white pt-2 pb-6">
         Brancize
          Technology Pvt. Ltd. (BTPL) is a prominent technology business in the
          evaluation sector. Our commitment lies in providing our clients with
          end-to-end solutions that are distinct, economical, adjustable, and
          adjustable. Our reputation as a reliable supplier of thorough
          assessment services has been built over more than ten years of
          experience with both computer-driven and OMR-based offline exams. In
          addition to examination boards, we serve government organizations,
          educational institutions and Public Sector Undertakings (PSUs). BTPL
          aims to provide our clients with the best possible quality and
          efficiency by organizing, carrying out, and implementing assessments
          that are highly secure, dependable, creative, and economical. In the
          assessment technology sector, our leadership has been established by
          our dedication to quality and innovation. We always aim to surpass our
          clients' expectations by applying a focused and competent methodology.
        </p>
      </div>
    </div>
  </div>
  <!-- <div class="lg:flex lg:flex-col md:flex-col md:flex m-5 sm:flex sm:flex-col">
    <h2 class="text-6xl text-green-500 text-center text font-bold ml-0">
      Our Certifications
    </h2>
    <div class="text-center px-5 py-4 text-xl">
      Achieve excellence with our certification programs for online and offline
      assessments. We ensure rigorous standards, reliability, and credibility,
      empowering individuals and organizations to validate skills and knowledge
      effectively. Trust us for comprehensive, accurate, and professional
      certification solutions.
    </div>
    <div class="flex justify-around items-center flex-wrap gap-5 mt-20">
      <img
        class="w-[30rem] h-[25rem]"
        src="../../assets/CERTIFICATE1.jpg"
        alt=""
      />
      <img class="w-[30rem] h-[25rem]" src="assets/CERTIFICATE2.jpg" alt="" />
      <img class="w-[30rem] h-[25rem]" src="assets/CERTIFICATE3.jpg" alt="" />
      <img class="w-[30rem] h-[25rem] " src="../../assets/CERTIFICATE3.jpg" alt=""> -->
  <!-- </div> -->
  <!-- </div> -->
  <div class="text-center bg-green-600 mt-8 py-4">
    <p class="text-white text-sm lg:text-base px-4 lg:px-8">
      At our company, we are dedicated to providing exceptional support and
      customer service. We prioritize data security and privacy, ensuring
      compliance with relevant regulations. Contact us today for a demo or to
      learn more about our solutions.
    </p>
  </div>
</div>
