<div class="main bg-gradient-to-b from-gray-100 to-green-200 min-h-screen">
  <div
    class="h-auto bg-fixed md:h-[25rem]"
    style="
      background-image: url('../../assets/cctvheader.jpg');
      background-size: cover;
      opacity: 1;
    "
  >
    <h1
      class="text-4xl font-bold p-8 ml-0 text-white top-10 relative text-left md:text-5xl"
    >
      CCTV Surveillance
    </h1>
    <h2
      class="text-3xl font-bold text-white mt-10  w-1/2 ml-10 lg:h-[15rem] text-left"
    >
    Securing Spaces, Ensuring Safety
    </h2>
  </div>

  <div class="px-4 md:px-24 pb-8">
    <div>
      <div
        class="lg:flex lg:flex-row md:flex-row md:flex m-5 sm:flex sm:flex-col my-16"
      >
       
        <div
          class="w-full border-1 border-gray-500 hover:scale-95 transition-transform duration-300 rounded-md h-[24rem] mr-10 p-4 overflow-scroll lg:overflow-auto md:overflow-auto"
        >
          <h1
            class="text-center text-2xl font-bold ml-0 mb-4 mt-5 color"
          >
            Monitoring by CCTV
          </h1>
          <p class="text-lg ml-0 text-black">
            Brancize Technology Pvt. Ltd. is well aware of the complications involved in safeguarding
            exams against misconduct. A strong surveillance system during exams
            is required. Candidates are thoroughly verified and frisked upon
            arrival, yet the danger of wrongdoing remains. Continuous human
            monitoring is a nice idea, but it may not cover all scenarios.  The
            problem is the size of the exam venues, it is impossible for workers
            to monitor everything at once. Thus, an extensive CCTV system
            becomes the better option. In this security-conscious society, such
            monitoring provides significant security.  BTPL's CCTV solution
            differentiates itself by making optimal use of bandwidth while
            maintaining stream integrity.
          </p>
        </div>
        <img
        src="../../assets/cctv01.avif"
        alt=""
        class="lg:w-[40%] md:w-[40%] h-96 border-1 border-gray-500 rounded-md hover:scale-95 transition-transform duration-300 w-full"
      />
      </div>

      <div
      class="lg:flex lg:flex-row md:flex-row md:flex m-5 mt-[6rem] sm:flex sm:flex-col"
    >
    <img
    src="../../assets/cctv07.avif"
    alt=""
    class="lg:w-[40%] md:w-[40%] h-40 border-1 border-gray-500 mr-4 rounded-md hover:scale-95 transition-transform duration-300 w-full"
  />
     
      <div
        class="w-full border-1 border-gray-500 hover:scale-95 transition-transform duration-300 rounded-md h-[15rem] p-4 overflow-scroll lg:overflow-auto md:overflow-auto"
      >
        <h1
          class="text-center text-2xl font-bold ml-0 mb-4 mt2 color"
        >
          Increasing Exam Privacy with CCTV Monitoring
        </h1>
        <p class="text-lg ml-0 text-black">
          BTPL's superior CCTV Surveillance technology is crucial to our
          commitment to integrity. Our systems, which uphold the notion of
          attentive oversight, provide continuous surveillance of exam
          locations, protecting against any violations or illegal activity.
        </p>
      </div>
     
    </div>


      <div
        class="lg:flex lg:flex-row md:flex-row md:flex m-5 sm:flex sm:flex-col"
      >
     
        <div
          class="w-full border-1 border-gray-500 hover:scale-95 transition-transform duration-300 rounded-md h-[auto] p-4 overflow-auto md:mr-7 lg:mr-16 lg:overflow-auto md:overflow-auto"
        >
          <h1
            class="text-center text-2xl font-bold ml-0 mb-4 color"
          >
            Why CCTV surveillance is important?
          </h1>
          <div class="text-2xl ml-0 text-black">
            <div>
              <span class="font-semibold ml-0">Error Reduction</span>

              <div class="px-7 py-2 text-lg">
                Cameras operate as a powerful disincentive to cheating, as
                applicants are aware of their ongoing supervision.
              </div>
            </div>
            <div class="mt-2">
              <h1 class="font-semibold ml-0">Accurate information</h1>

              <div class="px-7 py-2 text-lg">
                They deliver an accurate, real-time video footage to help
                resolve any complaints or discrepancies.
              </div>
            </div>
            <div class="mt-2">
              <h1 class="font-semibold ml-0">Integrated Monitoring</h1>

              <div class="px-7 py-2 text-lg">
                The cameras deliver full video footage of the exam hall, leaving
                no area unexamined.
              </div>
            </div>
            <div class="mt-2">
              <h1 class="font-semibold ml-0">Cost Efficiency</h1>

              <div class="px-7 py-2 text-lg">
                The requirement for several instructors is decreased, resulting
                in lower staffing expenses.
              </div>
            </div>
           
          </div>
        </div>
        <img
        src="../../assets/cctv02.avif"
        alt=""
        class="lg:w-[40%] md:w-[40%] h-96 border-1 border-gray-500 mr-16 rounded-md hover:scale-95 mt-10 transition-transform duration-300 w-full"
      />
        
      </div>

     
      <div
        class="lg:flex lg:flex-row md:flex-row md:flex m-5 sm:flex sm:flex-col"
      >
      <img
          src="../../assets/cctv3.avif"
          alt=""
          class="lg:w-[40%] md:w-[40%] h-48 border-1 border-gray-500 mr-4 rounded-md hover:scale-95 transition-transform duration-300 w-full"
        />
        <div
          class="w-full border-1 border-gray-500 hover:scale-95 transition-transform duration-300 md:ml-7 lg:ml-16 rounded-md h-[15rem] p-4 overflow-scroll lg:overflow-auto md:overflow-auto"
        >
          <h1
            class="text-center text-2xl font-bold ml-0 mb-4 mt2 color"
          >
            Continuous surveillance ensures optimal safety
          </h1>
          <p class="text-lg ml-0 text-black">
            BTPL's discrete CCTV Surveillance system ensures constant
            monitoring, improving traditional security processes. These cameras
            are positioned to monitor the exam setting and provide continuous,
            live coverage. This diligent supervision acts as a preventative
            precaution against malpractice and produces a reliable record of the
            exam activities.
          </p>
        </div>

        
      </div>

      <div
        class="lg:flex lg:flex-row md:flex-row md:flex m-5 sm:flex sm:flex-col"
      >
        
        <div
          class="w-full border-1 border-gray-500 hover:scale-95 transition-transform duration-300 rounded-md h-[15rem] p-4 overflow-scroll lg:overflow-auto md:overflow-auto"
        >
          <h1
            class="text-center text-2xl font-bold ml-0 mb-4 mt2 color"
          >
            Encouraging Honesty and Credibility.
          </h1>
          <p class="text-lg ml-0 text-black">
            The usage of CCTV surveillance demonstrates our commitment to
            honesty and confidence. We want to eliminate any ambiguity in
            academic judgments. Our surveillance systems create a safe
            atmosphere for educational institutions and candidates alike.
          </p>
        </div>
        <img
          src="../../assets/cctv04.avif"
          alt=""
          class="lg:w-[40%] md:w-[40%] h-40 border-1 border-gray-500 mr-4 rounded-md hover:scale-95 transition-transform duration-300 w-full"
        />
      </div>

      <div
        class="lg:flex lg:flex-row md:flex-row md:flex m-5 sm:flex sm:flex-col"
      >
      <img
          src="../../assets/cctv06.avif"
          alt=""
          class="lg:w-[40%] md:w-[40%] h-[20rem] border-1 border-gray-500 mr-4 rounded-md hover:scale-95 transition-transform duration-300 w-full"
        />
        <div
          class="w-full border-1 border-gray-500 hover:scale-95 transition-transform duration-300 rounded-md h-[24rem] p-4 overflow-scroll lg:overflow-auto md:overflow-auto"
        >
          <h1
            class="text-center text-2xl font-bold ml-0  mt-5 color"
          >
          Ensuring Academic Excellence Through Advanced Surveillance
          </h1>
          <div class="text-lg ml-0 text-black px-14 py-10">
            <div>1. BTPL’s advanced CCTV Surveillance enhances exam integrity.</div>
            <div>2. Upholding trust in educational institutions and examinees is our priority.</div>
            <div>3. Our surveillance solutions guarantee stringent security.</div>
            <div>4. Maintaining impartiality and authenticity in academic assessments is crucial..</div>
            <div>5. Choose BTPL for secure, transparent, and credible exam experiences.</div>
          </div>
        </div>

        
      </div>
    </div>
  </div>
  <div class="text-center bg-green-600 mt-8 py-4 w-full">
    <p class="text-white text-sm lg:text-base px-4 lg:px-8">
      At our company, we are dedicated to providing exceptional support and
      customer service. We prioritize data security and privacy, ensuring
      compliance with relevant regulations. Contact us today for a demo or to
      learn more about our solutions.
    </p>
  </div>
</div>
