<div class="main bg-gradient-to-b from-gray-100 to-green-200 min-h-screen">
  <div class="h-auto bg-fixed md:h-[25rem]" style="
      background-image: url('../../assets/thumbheader.jpg');
      background-size: cover;
      opacity: 1;
    ">
    <h1 class="text-4xl font-bold p-8 ml-0 text-white top-10 relative text-left md:text-5xl">
      Facial Biometrics
    </h1>
    <h2 class="text-3xl font-bold text-white mt-10  w-1/2 ml-10 lg:h-[15rem] text-left">
      Identity verification through facial recognition.
    </h2>
  </div>

  <div class="px-4 md:px-24 pb-8">
    <div>
      <div class="lg:flex lg:flex-row md:flex-col-reverse md:flex m-5 flex flex-col-reverse my-16">
        <div class="flex justify-evenly ">


          <div
            class="w-[40%] rounded overflow-hidden shadow-lg m-4 bg-white hover:scale-105 transition-transform duration-300">
            <img src="../../assets/facial06.jpg" alt="Assessment Management" class="h-[250px] w-full" />
            <br />
            <div class="px-6 py-4 mt-4">
              <h2 class="text-2xl font-bold text-center color mb-2">
                Face Forward: Brancize’s Visionary Biometric Authentication
              </h2>
              <p class="text-gray-800 text-lg px-2 py-3 ">
                Brancize’s Facial Recognition: Your Identity, Redefined
                Pioneering the next wave of technological evolution, Brancize introduces state-of-the-art Facial
                Biometric technology, reimagining the way we verify identity. Step into the digital future with our
                non-invasive, secure authentication solution that harnesses your unique facial characteristics for
                unmatched protection.
              </p>
            </div>
          </div>
          <div
            class="w-[40%] rounded overflow-hidden shadow-lg m-4 bg-white hover:scale-105 transition-transform duration-300">
            <img src="../../assets/facial2.jpeg" alt="Assessment Management" class="h-[250px] w-full" />
            <br />
            <div class="px-6 py-4 mt-4">
              <h2 class="text-2xl font-bold color text-center color mb-2">
                Welcoming the Future of Identity: The Elegance of Facial Biometrics
              </h2>
              <p class="text-gray-800 text-lg px-2 py-3 ">
                Our identity is a key part of who we are. As we look to the future, we need new ways to prove who we
                are. Old methods like passwords and ID cards can be lost or forgotten. Now, we have facial recognition.
                It’s a new, easy way to show our identity that’s safe and doesn’t involve carrying anything extra.
              </p>
            </div>
          </div>
          <!-- <div
            class="w-full border-1 border-gray-500 rounded-md p-4 overflow-scroll lg:overflow-auto md:overflow-auto"
          >
            <h1
              class="text-center text-2xl font-bold ml-0 mb-4 mt-5 text-green-500"
            >
              The Growth and Development of Personality
            </h1>
            <p class="text-lg ml-0 text-black">
              In the tapestry of human existence, identity stands as a core
              thread. As we venture into tomorrow's landscape, the methods we
              use to affirm our unique essence must also transform. Conventional
              identity checks—passwords, PINs, and tangible IDs—are fraught with
              weaknesses and hassles. They're prone to loss, theft, or memory
              lapses. The moment has arrived to shed these antiquated practices
              and welcome the dawn of identity confirmation: Facial Biometrics.
            </p>
          </div> -->
        </div>

      </div>

      <div class="lg:flex lg:flex-row md:flex-col md:flex m-5 flex flex-col">

        <div class="flex justify-evenly ">
          <div
            class="w-[40%] rounded overflow-hidden shadow-lg m-4 bg-white hover:scale-105 transition-transform duration-300">
            <img src="../../assets/facial7.jpg" alt="Assessment Management" class="h-[250px] w-full" />
            <br />
            <div class="px-6 py-4 mt-4">
              <h2 class="text-2xl font-bold text-center color mb-2">
                BTPL's Pioneering Facial Biometric Solution
              </h2>
              <p class="text-gray-800 text-lg px-2 py-3 ">
                BTPL is at the forefront of redefining identity authentication. Our Facial Biometric technology is a
                masterpiece of innovation, utilizing advanced algorithms and artificial intelligence to capture the
                distinct features of your face. This creates a digital key as unique as you are, offering unparalleled
                protection against fraud. Experience the blend of robust security and effortless interaction with our
                intuitive system.
              </p>
            </div>
          </div>

          <div
            class="w-[40%] rounded overflow-hidden shadow-lg m-4 bg-white hover:scale-105 transition-transform duration-300">
            <img src="../../assets/facial4.jpeg" alt="Assessment Management" class="h-[250px] w-full" />
            <br />
            <div class="px-6 py-4 mt-4">
              <h2 class="text-2xl font-bold text-center color mb-2">
                BTPL Redefines Access Control with Facial Biometrics
              </h2>
              <p class="text-gray-800 text-lg px-2 py-3 ">
                Experience a new era of security with BTPL's advanced Facial Biometric solution, seamlessly
                integrating across diverse environments—from safeguarding corporate fortresses to effortlessly unlocking
                personal devices. Picture entering your office, managing your finances, or accessing your smartphone
                with just a glance.
              </p>
            </div>
          </div>

        </div>
      </div>

      <div class="lg:flex lg:flex-row md:flex-col-reverse md:flex m-5 flex flex-col-reverse my-16">
        <div class="flex justify-evenly ">
          <div
            class="w-[40%] rounded overflow-hidden shadow-lg m-4 bg-white hover:scale-105 transition-transform duration-300">
            <img src="../../assets/facial5.jpeg" alt="Assessment Management" class="h-[250px] w-full" />
            <br />
            <div class="px-6 py-4 mt-4">
              <h2 class="text-2xl font-bold text-center color mb-2">
                Secure and Contactless: Hygiene-First Authentication by BTPL
              </h2>
              <p class="text-gray-800 text-lg px-2 py-3 ">
                In a world where health is paramount, contactless technology is no longer a luxury but a necessity. BTPL's Facial Biometrics provide hands-free identity verification, eliminating the need to touch shared surfaces or input devices. This innovative approach reduces the risk of germ and virus transmission, prioritizing your health and safety above all else.
              </p>
            </div>
          </div>
          <div
          class="w-[40%] rounded overflow-hidden shadow-lg m-4 bg-white hover:scale-105 transition-transform duration-300">
          <img src="../../assets/facial3.jpg" alt="Assessment Management" class="h-[250px] w-full" />
          <br />
          <div class="px-6 py-4 mt-4">
            <h2 class="text-2xl font-bold text-center color mb-2">
              Effortless Entry: BTPL Redefines Access with Rapid Facial Recognition
            </h2>
            <p class="text-gray-800 text-lg px-2 py-3 ">
              Experience seamless and swift access with our cutting-edge facial recognition technology. It's not just fast—it's intuitive, granting you rapid entry to secure areas and resources without the hassle of keys, cards, or fingerprint scanners. Your face becomes your universal pass, always at hand. With BTPL, step effortlessly into the future of authentication.
            </p>
          </div>
        </div>
        </div>
        
      </div>

      <!-- <div class="lg:flex lg:flex-row md:flex-col md:flex m-5 sm:flex sm:flex-col">
        <img src="../../assets/facial5.jpeg" alt=""
          class="lg:w-[30rem] md:w-auto md:h-[30rem] h-auto border-1 border-gray-500 mr-4 rounded-md hover:scale-95 transition-transform duration-300 w-full" /> -->

        <!-- <div class="flex flex-col lg:ml-16">
          <div class="w-full border-1 border-gray-500 rounded-md p-4 overflow-scroll lg:overflow-auto md:overflow-auto">
            <h1 class="text-center text-2xl font-bold ml-0 mb-4 mt-5 text-green-500">
              Your Security Vanguard: Brancize
            </h1>
            <p class="text-lg ml-0 text-black">
              In this epoch where security and ease intertwine, Brancize emerges
              as your vanguard, delivering cutting-edge Facial Biometrics. Our
              innovation doesn't just anticipate the future; it sculpts it,
              setting benchmarks for the industry. Join our vanguard as we
              redefine identity verification.
            </p>
          </div>
          <div class="w-full border-1 border-gray-500 rounded-md p-4 overflow-scroll lg:overflow-auto md:overflow-auto">
            <h1 class="text-center text-2xl font-bold ml-0 mb-4 mt-5 text-green-500">
              Identity's New Horizon
            </h1>
            <p class="text-lg ml-0 text-black">
              In a realm where identity theft and breaches surge, adopting
              avant-garde tech isn't optional—it's imperative. Brancize's Facial
              Biometrics offer a fortress of security, a contactless gateway, a
              hygienic checkpoint, and an intuitive portal to your secured
              domains and assets. It's time to shed archaic methods and stride
              into a luminous, fortified future with Brancize's visage-based
              authentication.
            </p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
  <div class="text-center bg-green-600 mt-8 py-4 w-full">
    <p class="text-white text-sm lg:text-base px-4 lg:px-8">
      At our company, we are dedicated to providing exceptional support and
      customer service. We prioritize data security and privacy, ensuring
      compliance with relevant regulations. Contact us today for a demo or to
      learn more about our solutions.
    </p>
  </div>
</div>