.carousel-container {
  width: 100%;
  max-width: 600px; /* You can adjust the max-width as needed */
  margin: auto;
  position: relative;
}

.carousel-slide {
  flex: 0 0 100%;
}

.carousel-image {
  width: 100%;
  height: auto;
  max-height: 1rem; /* Set maximum height to make images smaller in height */
  object-fit: contain;
}
.color{
  color: #8cc751;
}
