<div class="main bg-gradient-to-b from-gray-100 to-green-200 min-h-screen">
  <!-- media.istockphoto.com/id/925173096/photo/background-abstract-green.jpg?s=1024x1024&w=is&k=20&c=n2XOPczM93L_a2SKiV6afC9p3dQh6-6Otye-CEQ8ahY= -->
  <div
    class="h-auto bg-fixed"
    style="
      background-image: url('assets/typingtest.jpg');
      background-size: cover;
      opacity: 1;
      background-attachment: scroll;
    "
  >
    <div class="header-cotent">
      <h1
        class="text-5xl font-bold p-8  text-white top-10 relative ml-20 md:text-6xl"
      >
        TYPING TEST
      </h1>
      <h2
        class="text-3xl font-bold text-white mt-10  w-1/2 ml-12 lg:h-[15rem] text-center"
      >
        Believe you can and you're halfway there.
      </h2>
    </div>
  </div>

  <div class="px-4 md:px-24 pb-8">
    <div>
      <div
        class="lg:flex lg:flex-row md:flex-col-reverse md:flex m-5 flex flex-col-reverse mt-10"
      >
        <div
          class="w-full border-1 border-gray-500  rounded-md h-auto p-4 overflow-scroll lg:overflow-auto md:overflow-auto md:mr-7 lg:mr-16"
        >
          <h1
            class=" text-3xl font-bold ml-0 mb-6  color"
          >
            Your Reliable Partner for Typing Test Exams
          </h1>
          <div class="text-lg ml-0 text-black">
            <!-- If you’re gearing up for a typing assessment, consider partnering
            with Brancize. Ideal for organizations aiming to gauge the typing
            skills of their staff or potential hires, our service stands out in
            the domain of keyboard skill evaluation. At Brancize Technology
            Private Limited, we’re recognized as a leading expert. Our typing
            test is carefully crafted to determine the typing speed and accuracy
            of candidates, providing a reliable index of these critical
            competencies in the digital age. Catering to various needs from
            recruitment to specialized skill verification. Brancize Technology
            Private Limited presents a fair and uniform benchmark for appraising
            typing process. -->

            <div class="text-xl ml-0 text-black">
             
              <div class="mt-2">
                <h1 class="font-semibold ml-0">Precision Testing</h1>

                <div class="px-7 py-2 text-lg">
                  Our typing test is carefully crafted to determine the typing speed and accuracy of candidates.
                </div>
              </div>
              <div class="mt-2">
                <h1 class="font-semibold ml-0">
                  Reliable Index: 
                </h1>

                <div class="px-7 py-2 text-lg">
                  Provides a reliable index of critical typing competencies in the digital age.
                </div>
              </div>
              <div class="mt-2">
                <h1 class="font-semibold ml-0">Versatile Applications:</h1>

                <div class="px-7 py-2 text-lg">
                  Caters to various needs, from recruitment to specialized skill verification.
                </div>
              </div>
              <div class="mt-2">
                <h1 class="font-semibold ml-0">Uniform Benchmark</h1>

                <div class="px-7 py-2 text-lg">
                  Brancize Technology Private Limited provides a fair and uniform standard for determining typing proficiency.
                </div>
              </div>
              
              
            </div>

            
          </div>
        </div>
        <!-- <img
          src="../../assets/typing_test4.png"
          alt=""
          class="lg:w-[40%] md:w-auto h-96 border-1 border-gray-500 mr-4 rounded-md hover:scale-95 transition-transform duration-300 w-full"
        /> -->
      </div>

      <div class="flex m-5">
        <div class="w-full transition-transform duration-300">
          <h1
            class="text-center text-3xl font-bold ml-0 mb-4 mt-2 color"
          >
           How does Typing Test Work?
          </h1>
          <div class="text-lg ml-0 text-black py-4 px-9">
             At Brancize Technology Private Limited, we recognize the
            pivotal role of typing skills and are dedicated to offering a
            streamlined, dependable, and fortified solution for administering
            Typing Test assessments. Our Typing Test is offering
            user-friendly, efficient, and secure examination
            experience.
            <br />

            Here’s how our process works:
          </div>
          <div class="text-2xl ml-0 text-black">
            <div class="px-7 py-2 text-lg">
              <h1 class="font-semibold ml-0">Registration:</h1>

              <div class="px-7 py-2 text-lg">
                For the process of online registration, they need to submit
                their personal and professional information to initiate the
                evaluation.
              </div>
            </div>
            <div class="mt-2 px-7 py-2 text-lg">
              <h1 class="font-semibold ml-0">Language:</h1>

              <div class="px-7 py-2 text-lg">
                Select the desired language for the typing assessment.
              </div>
            </div>
            <div class="mt-2 px-7 py-2 text-lg">
              <h1 class="font-semibold ml-0">Scheduling:</h1>

              <div class="px-7 py-2 text-lg">
                Subsequently, they choose a date and time that best suits their
                schedule for the examination.
              </div>
            </div>
            <div class="mt-2 px-7 py-2 text-lg">
              <h1 class="font-semibold ml-0">Instruction:</h1>

              <div class="px-7 py-2 text-lg">
                Detailed and straightforward instructions are provided to
                facilitate an effortless initiation of the assessment.
              </div>
            </div>
            <!-- <div class="mt-2 px-7 py-2 text-lg">
              <h1 class="font-semibold ml-0">Transcription Challenge:</h1>  
              

              <div class="px-7 py-2 text-lg">
                Stenographers transcribe audio recordings or convert shorthand notes into text with precision.




              </div>
            </div> -->
            <div class="mt-2 px-7 py-2 text-lg">
              <h1 class="font-semibold ml-0">
                <!-- SPEED AND ACCURACY EVALUATION: -->
                Speed and Accuracy Evaluation
              </h1>

              <div class="px-7 py-2 text-lg">
                The platform meticulously evaluates the typing for both speed
                and precision.
              </div>
            </div>

            <div class="mt-2 px-7 py-2 text-lg">
              <h1 class="font-semibold ml-0">Submission:</h1>
              <!-- SUBMISSION -->
              <div class="px-7 py-2 text-lg">
                After completing their task, our system submits it within the
                specified time frame
              </div>
            </div>
            <div class="mt-2 px-7 py-2 text-lg">
              <h1 class="font-semibold ml-0">
                <!-- LEARNING AND IMPROVEMENT: -->
                Learning and Improvement
              </h1>

              <div class="px-7 py-2 text-lg">
                After receiving the data, our system can use it to improve
                typing efficiency and acquire new perspectives.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="lg:flex lg:flex-row md:flex-col md:flex m-5 sm:flex sm:flex-col mt-10"
      >
        <img
          src="../../assets/typing_test2.webp"
          alt=""
          class="lg:w-[40%] md:w-auto h-auto border-1 border-gray-500 mr-4 rounded-md hover:scale-95 transition-transform duration-300 w-full mt-16"
        />
        <div
          class="w-full border-1 border-gray-500 hover:scale-95 transition-transform duration-300  md:ml-7 lg:ml-16 rounded-md h-auto p-4  mt-16"
        >
          <h1
            class="text-center text-2xl font-bold ml-0 mb-4 mt2 color"
          >
          Why typing test is beneficial?
          </h1>
          <div class="text-lg ml-0 text-black">
           
            Typing tests are beneficial as they measure typing speed and accuracy, essential skills in the digital age. They help employers assess potential hires and employees, ensuring efficient data entry and communication. Improved typing skills enhance productivity and reduce errors, making them valuable for both personal and professional development.
          </div>
        </div>
      </div>

      <div
        class="lg:flex lg:flex-row md:flex-col-reverse md:flex m-5 flex flex-col-reverse mt-16"
      >
        <div
          class="w-full border-1 border-gray-500 hover:scale-95 transition-transform duration-300 rounded-md h-auto overflow-hidden p-4 md:mr-7 lg:mr-16 mt-16"
        >
          <h1
            class="text-center text-xl font-bold ml-0 mb-4 mt-2 color"
          >
            Let's begin with Brancize Technology Private Limited
          </h1>
          <p class="text-lg ml-0 text-black">
           
  Brancize Technology Private Limited is helpful for typing tests. It provides simplicity, reliability, and security for typing assessments. It improves your typing speed and enhances your typing skills.
          </p>
        </div>
        <img
          src="../../assets/typing_test3.webp"
          alt=""
          class="lg:w-[40%] md:w-auto h-[20rem] border-1 border-gray-500 mr-4 rounded-md hover:scale-95 transition-transform duration-300 w-full"
        />
      </div>
    </div>
  </div>
</div>
<div class="text-center bg-green-600 mt-8 py-4 w-full">
  <p class="text-white text-sm lg:text-base px-4 lg:px-8">
    At our company, we are dedicated to providing exceptional support and
    customer service. We prioritize data security and privacy, ensuring
    compliance with relevant regulations. Contact us today for a demo or to
    learn more about our solutions.
  </p>
</div>
