<div class="main bg-gray-300 min-h-screen">
  <h2 class="text-4xl font-bold p-8 text-center text-green-600">
    Our Services
  </h2>

  <div class="px-4 md:px-24 pb-8">
    <div
      class="flex flex-col hover:scale-95 transition-transform duration-300 md:flex-row p-4 m-4 bg-green-200 rounded-lg"
    >
      <img
        src="assets/Services/CBT.jpg"
        alt="Computer"
        class="w-full h-auto object-cover rounded-t-lg md:rounded-l-lg md:rounded-t-none md:w-48 md:h-auto"
      />
      <div class="flex flex-col justify-center p-4 md:p-8">
        <h2
          class="text-xl font-bold text-green-800 mb-4 text-center md:text-left"
        >
          Computer Based Test (CBT)
        </h2>
        <p class="text-green-700 text-xl text-center md:text-left">
          The computer-based test (CBT) platform has revolutionized the exam
          delivery process, providing candidates with a simple, quick, and
          secure test experience. We ensure a high-quality assessment experience
          with technologically equipped infrastructure. Our CBT solution caters
          to various exams including recruitment exams, entrance exams,
          semester/yearly exams for universities/colleges, internal exams,
          scholarship tests, and more.
        </p>
      </div>
    </div>

    <div
      class="flex flex-col hover:scale-95 transition-transform duration-300 md:flex-row p-4 m-4 bg-green-200 rounded-lg"
    >
      <img
        src="assets/Services/OMR.jpg"
        alt="Paper"
        class="w-full h-auto object-cover rounded-t-lg md:rounded-l-lg md:rounded-t-none md:w-48 md:h-auto"
      />
      <div class="flex flex-col justify-center p-4 md:p-8">
        <h2
          class="text-xl font-bold text-green-800 mb-4 text-center md:text-left"
        >
          OMR Based Test (Offline Test)
        </h2>
        <p class="text-green-700 text-xl text-center md:text-left">
          BRANCIZE offers a unique feature to make the examination process cheat
          resistant multiple choice examinations through personalized question
          papers in OMR based tests (offline tests). This process generates a
          unique set of questions and options for millions of applicants.
          BRANCIZE also has its own question paper printing solution in a secure
          premises.
        </p>
      </div>
    </div>

    <div
      class="flex flex-col hover:scale-95 transition-transform duration-300 md:flex-row p-4 m-4 bg-green-200 rounded-lg"
    >
      <img
        src="assets/Services/WBT.jpg"
        alt="Web"
        class="w-full h-auto object-cover rounded-t-lg md:rounded-l-lg md:rounded-t-none md:w-48 md:h-auto"
      />
      <div class="flex flex-col justify-center p-4 md:p-8">
        <h2
          class="text-xl font-bold text-green-800 mb-4 text-center md:text-left"
        >
          Web Based Test (WBT)
        </h2>
        <p class="text-green-700 text-xl text-center md:text-left">
          The web-based test (WBT) allows candidates from around the world to
          participate in the test. Our WBT platform monitors candidates remotely
          through live video and audio feeds, and their computer screens are
          also monitored by proctors. WBT provides the flexibility of
          randomization of questions and options.
        </p>
      </div>
    </div>

    <div
      class="flex flex-col hover:scale-95 transition-transform duration-300 md:flex-row p-4 m-4 bg-green-200 rounded-lg"
    >
      <img
        src="assets/Services/AppMgmt.JPG"
        alt="Application"
        class="w-full h-auto object-cover rounded-t-lg md:rounded-l-lg md:rounded-t-none md:w-48 md:h-auto"
      />
      <div class="flex flex-col justify-center p-4 md:p-8">
        <h2
          class="text-xl font-bold text-green-800 mb-4 text-center md:text-left"
        >
          Application Management
        </h2>
        <p class="text-green-700 text-xl text-center md:text-left">
          BRANCIZE offers registration and application services. We provide an
          easy-to-use, customized, and secure online registration portal with a
          payment gateway. Our online registration platform is also developed to
          provide and download the hall tickets along with scheduling date and
          time slots.
        </p>
      </div>
    </div>

    <div
      class="flex flex-col hover:scale-95 transition-transform duration-300 md:flex-row p-4 m-4 bg-green-200 rounded-lg"
    >
      <img
        src="assets/Services/SkillledMan.jpg"
        alt="Application"
        class="w-full h-auto object-cover rounded-t-lg md:rounded-l-lg md:rounded-t-none md:w-48 md:h-auto"
      />
      <div class="flex flex-col justify-center p-4 md:p-8">
        <h2
          class="text-xl font-bold text-green-800 mb-4 text-center md:text-left"
        >
          Skilled man power for assessment support
        </h2>
        <p class="text-green-700 text-xl text-center md:text-left">
          Experience excellence with Assessment Agency, your trusted partner in
          comprehensive assessment services. From test development to
          administration and evaluation, we provide accurate and fair
          assessments for educational institutions, corporations, and government
          organizations. Our cutting-edge technology and expert team ensure
          reliable results and personalized support throughout the process. Make
          informed decisions and drive success with Assessment Agency - your
          go-to for professional assessment services.
        </p>
      </div>
    </div>

    <div
      class="flex flex-col hover:scale-95 transition-transform duration-300 md:flex-row p-4 m-4 bg-green-200 rounded-lg"
    >
      <img
        src="assets/Services/CB.jpg"
        alt="Application"
        class="w-full h-auto object-cover rounded-t-lg md:rounded-l-lg md:rounded-t-none md:w-48 md:h-auto"
      />
      <div class="flex flex-col justify-center p-4 md:p-8">
        <h2
          class="text-xl font-bold text-green-800 mb-4 text-center md:text-left"
        >
          Centre Booking (online/offline)
        </h2>
        <p class="text-green-700 text-xl text-center md:text-left">
          Introducing Centre Booking, your one-stop solution for seamless exam
          (project) management. Our company offers a comprehensive range of
          services, including exam venue selection, reservation, and exam
          coordination. With our user-friendly platform, you can effortlessly
          browse through a diverse portfolio of top-notch venues, conveniently
          book them, and ensure a hassle-free experience. Experience
          convenience, reliability, and professionalism with Centre Booking.
        </p>
      </div>
    </div>

    <div
      class="flex flex-col hover:scale-95 transition-transform duration-300 md:flex-row p-4 m-4 bg-green-200 rounded-lg"
    >
      <img
        src="assets/Services/biometric.jpg"
        alt="Application"
        class="w-full h-auto object-cover rounded-t-lg md:rounded-l-lg md:rounded-t-none md:w-48 md:h-auto"
      />
      <div class="flex flex-col justify-center p-4 md:p-8">
        <h2
          class="text-xl font-bold text-green-800 mb-4 text-center md:text-left"
        >
          Biometric attendance system
        </h2>
        <p class="text-green-700 text-xl text-center md:text-left">
          Ensure accurate and reliable attendance tracking with our Biometric
          Attendance System. Our cutting-edge technology and robust hardware
          enable seamless integration and easy monitoring of attendance. From
          schools and universities to corporate offices and government
          institutions, our biometric attendance system is a trusted solution
          for efficient workforce management and student attendance tracking.
        </p>
      </div>
    </div>
  </div>

  <div class="text-center bg-green-600 mt-8 py-4">
    <p class="text-white text-sm lg:text-base px-4 lg:px-8">
      At our company, we are dedicated to providing exceptional support and
      customer service. We prioritize data security and privacy, ensuring
      compliance with relevant regulations. Contact us today for a demo or to
      learn more about our solutions.
    </p>
  </div>
</div>
