<div class="main bg-gradient-to-b from-gray-100 to-green-200 min-h-screen">
  <div
    class="h-auto lg:h-[25rem] md:h-[25rem] bg-fixed"
    style="
      background-image: url('assets/offlineexam.jpg');
      background-size: cover;
      opacity: 1;
      background-attachment: scroll;
    "
  >
    <h1
      class="text-5xl font-bold p-8 ml-0 text-white top-10 relative text-left md:text-6xl"
    >
      OFFLINE EXAM
    </h1>
    <h2
      class="text-3xl font-bold text-white mt-10  w-1/2 ml-10 mr-1 lg:h-[15rem] text-left"
    >
    Bridging Traditional Methods with Modern Convenience.
    </h2>
  </div>

  <div class="px-4 md:px-24 pb-8">
    <div>
      <div
        class="lg:flex lg:flex-row md:flex-row md:flex m-5 sm:flex sm:flex-col"
      >
        <img
          src="../../assets/offline_img1.png"
          alt=""
          class="lg:w-[40%] md:w-[40%] h-96 border-1 border-gray-500 mr-4 rounded-md hover:scale-95 transition-transform duration-300 w-full"
        />
        <div
          class="w-full border-1 border-gray-500 hover:scale-95 transition-transform duration-300 rounded-md h-[24rem] p-4 overflow-scroll lg:overflow-auto md:overflow-auto md:ml-7 lg:ml-16"
        >
          <h1
            class="text-center text-2xl font-bold ml-0 mb-4 mt2 color"
          >
          Worried About Conducting Offline Exams?

          </h1>
          <p class="text-lg ml-0 text-black">
            With us, worry not! <br/> While traditional paper-based exams have a rich history, we've modernized their security and efficiency with cutting-edge technology for better outcomes. Offering both paper and OMR-based exams, our services include secure question paper handling, biometric verification, live CCTV monitoring, thorough security checks, and expert technical support. From start to finish, we manage every aspect of exam administration seamlessly, including paper marking and IT support. Let's dive into the details of offline exams together.

          </p>
        </div>
      </div>
      <div
        class="lg:flex lg:flex-row md:flex-row md:flex flex flex-col-reverse"
      >
        <div
          class="w-full border-1 border-gray-500 hover:scale-95 transition-transform duration-300 rounded-md h-[24rem] p-4 mt-10 overflow-scroll lg:overflow-auto md:overflow-auto md:mr-7 lg:mr-16"
        >
          <h1
            class="text-center text-2xl font-bold ml-0 mb-4  color"
          >
            Brief Description of Offline Exams

          </h1>
          <p class="text-lg ml-0 text-black">
            An offline exam refers to a traditional assessment format conducted without the need for an internet connection. Typically administered using paper and pen or through specialized offline exam software, these exams offer a familiar approach to evaluation while leveraging modern technology for enhanced security and efficiency. They cater to various educational and organizational contexts, providing a reliable means of assessment without relying on online connectivity.


          </p>
        </div>

        <img
          src="assets/Services/OMR.jpg"
          alt=""
          class="lg:w-[40%] md:w-[40%] h-[20rem] border-1 border-gray-500 mr-4 rounded-md hover:scale-95 transition-transform duration-300 w-full"
        />
      </div>

      <div>
        <div class="flex m-5">
          <!-- <img src="assets/Services/WBT.jpg" alt="" class="w-[50%] h-96 border-1 border-gray-500 mr-4 rounded-md hover:scale-95 transition-transform duration-300"> -->
          <div class="w-full transition-transform duration-300">
            <h1
              class="text-center text-3xl font-bold ml-0 mb-4 mt-2 color my-5"
            >
            Streamlined Process for Offline Exam Administration

            </h1>


            <div class="text-2xl ml-0 text-black">
              <div>
                <span class="font-semibold ml-0">
                  1. Preparation and Setup

                </span>

                <div class="px-7 py-2 text-lg">
                   a. Our team meticulously prepares exam venues, ensuring they meet the required standards for conducting offline exams. <br>
                  b. Venue setup includes arranging seating, installing necessary equipment, and ensuring adequate lighting and ventilation.
                 
                </div>
              </div>
              <div class="mt-2">
                <h1 class="font-semibold ml-0">2. Registration and Verification
                </h1>

                <div class="px-7 py-2 text-lg">
                  a. Candidates are required to register before the exam, providing necessary identification and registration details. <br>
 b. Biometric verification ensures the identity of each candidate, enhancing exam security and preventing impersonation.

                </div>
              </div>
              <div class="mt-2">
                <h1 class="font-semibold ml-0">
                  3. Distribution of Exam Materials

                </h1>

                <div class="px-7 py-2 text-lg">
                  a. Exam papers are securely transported to the venue and distributed to candidates under strict supervision. <br>

                  b. Each candidate receives the appropriate exam materials and instructions before the exam begins.
                 
                </div>
              </div>
              <div class="mt-2">
                <h1 class="font-semibold ml-0">4. Exam Monitoring and Supervision
                </h1>

                <div class="px-7 py-2 text-lg">
                  a. CCTV surveillance provides continuous monitoring of the exam venue, deterring malpractice and ensuring exam integrity. <br>
                  b. Invigilators oversee the exam proceedings, enforcing rules and regulations to maintain fairness and transparency.
                 
                </div>
              </div>
              <div class="mt-2">
                <h1 class="font-semibold ml-0">5. Answer Sheet Collection and Submission
                </h1>

                <div class="px-7 py-2 text-lg">
                  a. Once the exam concludes, candidates submit their answer sheets to invigilators for collection. <br>
 b. Answer sheets are carefully collected and securely stored to prevent tampering or unauthorized access.

                </div>
              </div>
              <div class="mt-2">
                <h1 class="font-semibold ml-0">6. Result Processing and Declaration
                </h1>

                <div class="px-7 py-2 text-lg">
                  a. Exam papers are meticulously graded by qualified examiners, ensuring accuracy and fairness in the evaluation process. <br>
                  b. Results are compiled and verified before being officially declared, maintaining the integrity of the examination process.
                </div>
              </div>
              <div class="mt-2">
                <h1 class="font-semibold ml-0">7. Feedback and Analysis
                </h1>

                <div class="px-7 py-2 text-lg">
                  a. Candidates may receive feedback on their performance, allowing them to identify areas for improvement and track their progress. <br>
                  b. Exam data and analytics are analyzed to identify trends and patterns, informing future exam administration strategies.
                 
                </div>
              </div>
            </div>


          </div>
        </div>

        <div class="flex m-5 my-10">
          <div class="w-full transition-transform duration-300 mr-4 rounded-md">
            <h1
              class="text-center text-3xl font-bold ml-0 mb-4 mt-2 color"
            >
              Why Should You Choose Us to Conduct Your Exam?
            </h1>
            <div class="text-xl ml-0 text-black py-4 px-9">
              The choice of an exam conductor is crucial in ensuring a just,
              secure, and streamlined assessment process. Brancize Technology
              Private Limited stands out as a leading option due to a multitude
              of persuasive factors:
              <div>
                <h3 class="font-semibold ml-0 mt-4 text-xl">Competency</h3>
                <div class="text-xl pl-8 pt-3">
                  Brancize Technology Private Limited is backed by a team of
                  experienced specialists who understand the complicated nature
                  of examination administration, ensuring complete monitoring of
                  all elements of the process.
                </div>
              </div>

              <div>
                <h3 class="font-semibold ml-0 mt-4 text-xl">Safety</h3>
                <div class="text-xl pl-8 pt-3">
                  Brancize Technology Private Limited acknowledges the critical
                  necessity of confidentiality in offline assessments and
                  follows strict rules to avoid misconduct, hence protecting the
                  assessment process's integrity.
                </div>
              </div>

              <div>
                <h3 class="font-semibold ml-0 mt-4 text-xl">Optimization</h3>
                <div class="text-xl pl-8 pt-3">
                  Brancize Technology Private Limited specializes at executing
                  examinations with accuracy, from careful preparation and
                  efficient logistics to attentive supervision, all of which
                  contribute to timely announcement of results.
                </div>
              </div>

              <div>
                <h3 class="font-semibold ml-0 mt-4 text-xl">
                  Innovative technology
                </h3>
                <div class="text-xl pl-8 pt-3">
                  Brancize Technology Private Limited uses cutting-edge
                  technical innovations to improve the test experience from the
                  initial registration step to the final announcement of
                  results.
                </div>
              </div>

              <p class="mt-10">
                At Brancize Technology Pvt. Ltd., we understand the pivotal role of offline examinations in academic and professional assessments. With our unwavering commitment to integrity, efficiency, and innovation, we provide a comprehensive solution for conducting secure and reliable offline exams. From meticulous planning to meticulous execution, we ensure that every aspect of the examination process is handled with precision and care. Trust BTPL for offline exams that prioritize fairness, confidentiality, and accuracy, paving the way for success in every evaluation endeavor.
              </p>

              <br />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center bg-green-600 mt-8 py-4 w-full">
    <p class="text-white text-sm lg:text-base px-4 lg:px-8">
      At our company, we are dedicated to providing exceptional support and
      customer service. We prioritize data security and privacy, ensuring
      compliance with relevant regulations. Contact us today for a demo or to
      learn more about our solutions.
    </p>
  </div>
</div>
