<div class="main bg-gradient-to-b from-gray-100 to-green-200 min-h-screen">
  <div class="h-auto bg-fixed" style="
      background-image: url('assets/onlineexam.jpg');
      background-size: cover;
      opacity: 1;
      background-attachment: scroll;
    ">
    <h1 class="text-5xl font-bold p-8  text-white top-10 relative ml-8 md:text-6xl">
      ONLINE EXAM
    </h1>
    <h2 class="text-3xl font-bold text-white mt-10 w-1/2 ml-16 lg:h-[15rem]  text-left">
      Effortless and Secure Online Exams for a <br>
      
      Future-Ready Experience
    </h2>
  </div>

  <div class="px-4 md:px-24 pb-8">
    <div>
      <div
        class="flex flex-col hover:scale-95 transition-transform duration-300 md:flex-row p-4 m-4 bg-green-200 rounded-lg mt-10">
        <img src="https://th.bing.com/th/id/OIP.1jZS_IWoILEZ-isapFzQmAHaHa?w=170&h=180&c=7&r=0&o=5&dpr=2&pid=1.7g"
          alt="Computer"
          class="w-full h-auto object-cover rounded-t-lg md:rounded-l-lg md:rounded-t-none md:w-48 md:h-auto" />
        <div class="flex flex-col justify-center p-4 md:p-8">
          <h2 class="text-3xl font-bold color mb-4 text-center md:text-left">
            A streamlined and quick examination process : Online Exam
          </h2>
          <p class="text-green-700 text-lg text-center md:text-left">
            Modern online tests leverage the Internet to deliver a more efficient and contemporary testing experience. These digital tests can be taken on a computer, tablet, or smartphone with internet access, offering numerous advantages such as enhanced convenience, flexibility, and quicker results. 
          </p>
        </div>
      </div>

      <div class="flex m-5">
        <!-- <img src="assets/Services/WBT.jpg" alt="" class="w-[50%] h-96 border-2 border-gray-500 mr-4 rounded-md hover:scale-95 transition-transform duration-300"> -->
        <div class="w-full h-auto">
          <h1 class="text-center text-3xl mt-10 font-bold ml-0 mb-8 color">
            The distinctive allure of online testing lies in its unique
            attributes.
          </h1>
          <div class="text-lg h-auto ml-0 text-black px-8 py-3">
            
            <div >
              <span class="font-semibold ml-0">
                1. Seamless Digital Exams
              </span>

              <div class="px-7 py-2 text-lg">
                Online exams surpass traditional formats, offering easy access via any internet-connected device.
              </div>
            </div>
            <div>
              <span class="font-semibold ml-0">
                2. Ultimate Convenience
              </span>

              <div class="px-7 py-2 text-lg">

                Online exams offer unparalleled convenience, allowing you to take assessments from anywhere in the
                world.


              </div>
            </div>
            <div>
              <span class="font-semibold ml-0">
                3. Flexible Timing
              </span>

              <div class="px-7 py-2 text-lg">

                Online exams let you choose a time that suits your peak readiness, freeing you from rigid schedules.

              </div>
            </div>
            <div>
              <span class="font-semibold ml-0">
                4. Quick Results
              </span>

              <div class="px-7 py-2 text-lg">


                Online exams provide immediate feedback, giving you instant insight into your performance to reward your
                efforts promptly.


              </div>
            </div>
            <div>
              <span class="font-semibold ml-0">
                5. Dynamic Evaluation
              </span>

              <div class="px-7 py-2 text-lg">


                Adaptive testing in online assessments tailors questions to your responses, enhancing precision.



              </div>
            </div>
            <div>
              <span class="font-semibold ml-0">
                6. Robust Security Measures
              </span>

              <div class="px-7 py-2 text-lg">


                It ensures integrity of online assessments, including remote monitoring and question shuffling.


              </div>
            </div>








          </div>
        </div>
      </div>
      <div>
        <h1 class="text-center text-3xl font-bold ml-0 mt-6 color mb-10">
          Working Principle of Online Examinations
        </h1>
        <div
          class="flex flex-col hover:scale-95 transition-transform duration-300 md:flex-row p-4 m-4 bg-green-200 rounded-lg">
          <img src="../../assets/online_img1.jpg" alt="Computer"
            class="w-full h-auto object-cover rounded-t-lg md:rounded-l-lg md:rounded-t-none md:w-48 md:h-auto" />
          <div class="flex flex-col justify-center p-4 md:p-8">
            <h2 class="text-3xl font-bold color mb-4 text-center md:text-left">
              Computer-Based Tests (CBT)
            </h2>
            <p class="text-green-700 text-lg text-center md:text-left">
              Computer-based tests are conducted on a computer, typically at
              designated test centers. These exams use specialized software to
              deliver questions and capture responses, ensuring a controlled and
              secure environment. Test-takers benefit from a streamlined
              process, as CBTs often feature user-friendly interfaces and
              automated features like timers and navigation tools.
            </p>
          </div>
        </div>
        <div
          class="flex flex-col hover:scale-95 transition-transform duration-300 md:flex-row p-4 m-4 bg-green-200 rounded-lg">
          <div class="flex flex-col justify-center p-4 md:p-8">
            <h2 class="text-3xl font-bold color mb-4 text-center md:text-left">
              Internet-Based Tests (IBT)
            </h2>
            <p class="text-green-700 text-lg text-center md:text-left">
              Internet-based tests are administered over the internet, allowing
              test-takers to complete their exams from any location with a
              reliable internet connection. This method offers maximum
              flexibility, as individuals can use their own devices, such as
              computers, tablets, or smartphones. IBTs provide the ultimate
              convenience, enabling test-takers to choose a comfortable and
              familiar setting, and often allowing for scheduling at a time that
              suits them best.
            </p>
          </div>
          <img src="../../assets/online_img2.png" alt="Computer"
            class="w-full h-auto object-cover rounded-t-lg md:rounded-l-lg md:rounded-t-none md:w-48 md:h-auto" />
        </div>
      </div>

      <!-- <div class="w-full mr-4 rounded-md mt-10">
        <h1 class="text-center text-2xl font-bold ml-0 mb-4 mt-2 color">
          Brancize Technology Private Limited(BTPL): The Best Platform For
          Online Examination!
        </h1>
        <p class="text-lg px-12 py-2 ml-0 text-black">
          BTPL recognizes the significance of streamlined and effective
          examination procedures. Our state-of-the-art online exam platform
          delivers an intuitive and smooth experience to both participants and
          administrators. For those in search of a dependable examination
          service provider, your search ends here. With a reputation for
          reliability in conducting online exams, BTPL stands out with its
          extensive expertise and dedication to superior service. We have a
          proven track record of facilitating a wide array of exams for various
          educational entities, corporations, and accrediting organizations. Our
          core objective is to demystify the exam process, guaranteeing an
          equitable and secure setting for every examinee.
        </p>
      </div> -->

      <div class="flex m-5">
        <div class="flex m-5">

          <div class="w-full h-auto">
            <h1 class="text-center text-3xl font-bold ml-0 mb-4 mt-2 color">
              What Makes Us Stand Out in Online Exam Administration?

            </h1>
            <div class="text-lg h-auto ml-0 text-black px-8 py-3">
              <div>
                <h3 class="font-semibold ml-0 mt-4 text-xl">A. Expertise and Competency
                </h3>
                <div class="text-xl pl-8 pt-3">
                  BTPL boasts a team of seasoned professionals well-versed in the complexities of exam administration.
                  Their expertise ensures meticulous oversight at every stage of the process, guaranteeing a fair and
                  thorough assessment.

                </div>
              </div>

              <div>
                <h3 class="font-semibold ml-0 mt-4 text-xl">B. Emphasis on Safety and Integrity
                </h3>
                <div class="text-xl pl-8 pt-3">
                  Recognizing the paramount importance of confidentiality in offline exams, BTPL adheres to stringent
                  protocols to prevent any form of misconduct. This commitment to integrity safeguards the sanctity of
                  the assessment process.

                </div>
              </div>

              <div>
                <h3 class="font-semibold ml-0 mt-4 text-xl">C. Efficiency and Optimization
                </h3>
                <div class="text-xl pl-8 pt-3">
                  BTPL excels in executing exams with precision, from meticulous preparation and streamlined logistics
                  to vigilant supervision. This optimized approach ensures timely result announcements, enhancing the
                  overall exam experience.

                </div>
              </div>
              <div>
                <h3 class="font-semibold ml-0 mt-4 text-xl">
                  D. Integration of Innovative Technology

                </h3>
                <div class="text-xl pl-8 pt-3">
                  Leveraging cutting-edge technological solutions, BTPL enhances every aspect of the exam journey, from
                  seamless registration processes to the swift delivery of results. This integration of innovative tools
                  enhances efficiency and user satisfaction, setting us apart from the competition.

                </div>
              </div>




            </div>
          </div>


        </div>
      </div>


    </div>
  </div>
  <div class="text-center bg-green-600 mt-8 py-4 w-full">
    <p class="text-white text-sm lg:text-base px-4 lg:px-8">
      At our company, we are dedicated to providing exceptional support and
      customer service. We prioritize data security and privacy, ensuring
      compliance with relevant regulations. Contact us today for a demo or to
      learn more about our solutions.
    </p>
  </div>
</div>